<div class="meteo">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="150" height="200"><param name="src" value="http://weather.eu.msn.com/f5/loaderSpotw18.swf?mode=spotweather&amp;lang=FR&amp;city=FRm_a1_c6"><param name="wmode" value="transparent"><embed type="application/x-shockwave-flash" src="http://weather.eu.msn.com/f5/loaderSpotw18.swf?mode=spotweather&amp;lang=FR&amp;city=FRm_a1_c6" wmode="transparent" width="150" height="200"></object>
</div>

