<h2>Critic@ TV avec:</h2>
<div class="partners-tv"></div>
<script type="text/javascript">
var SPLUSH_WTHEME = 'light';
var SPLUSH_BCOLOR = 'FFFFFF';
var SPLUSH_LCOLOR = 'ECECEC';
var SPLUSH_TCOLOR = 'FF1A00';
var SPLUSH_ICOLOR = '000000';
var SPLUSH_WIDTH = '300';
var SPLUSH_KEY = '49a5f78e685aed13bf8a845e00f013b8';
var SPLUSH_DATE = '1';
var SPLUSH_IMAGE = '1';
</script>
<script type="text/javascript" src="http://www.feedasplush.com/js/splush.js"></script>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="FlashBox" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" height="300" width="100%"><param name="movie" value="http://www.commeaucinema.com/flashboxprx.php" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="rub=home&amp;ext=1" /><embed src="http://www.commeaucinema.com/flashboxprx.php" name="FlashBox" wmode="transparent" play="true" loop="false" quality="high" allowscriptaccess="always" flashvars="rub=home&amp;ext=1" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" align="middle" height="300" width="100%"><a style="font-weight: bold;" href="http://www.commeaucinema.com" title="Toute l'actu Cinema et DVD est sur commeaucinema.com">Toute l'actu Cinema et DVD est sur commeaucinema.com</a></object>