{% if banner %}
    {% ifequal banner.banner_type 'image' %}
        <div class="addSection add{{ format_width }}">
        {% if banner.link %}
            <a href="{{ banner.link }}"><img src="{{ banner.banner.url }}" alt="Publicité" /></a>
            <p><a href="{{ banner.link }}">Publicité</a></p>
        {% else %}
            <img src="{{ banner.banner.url }}" alt="Publicité" />
            <p>Publicité</p>
        {% endif %}
        </div>
    {% else %}
        <div class="addSection">
            <div class="add{{ format_width }}">
                <object data="{{ banner.banner.url }}" type="application/x-shockwave-flash" style=" width:{{ format_width }}px; height:{{ format_height }}px;">
                    <param name="movie" value="{{ banner.banner.url }}"/>
                    <param name="quality" value="high"/>
                    <param name="menu" value="false"/>
                </object>
            </div>
            {% if banner.link %}
                <p><a href="{{ banner.link }}">Publicité</a></p>
            {% else %}
                <p>Publicité</p>
            {% endif %}
        </div>
    {% endifequal %}
{% else %}
    {% ifequal default_banner.banner_type 'image' %}
        <div class="addSection add{{ format_width }}">
        {% if default_banner.link %}
            <a href="{{ default_banner.link }}"><img src="{{ default_banner.banner.url }}" alt="Publicité" /></a>
            <p><a href="{{ default_banner.link }}">Publicité</a></p>
        {% else %}
            <img src="{{ default_banner.banner.url }}" alt="Publicité" />
            <p>Publicité</p>
        {% endif %}
        </div>
    {% else %}
        <div class="addSection">
            <div class="add{{ format_width }}">
                <object data="{{ default_banner.banner.url }}" type="application/x-shockwave-flash" style=" width:{{ format_width }}px; height:{{ format_height }}px;">
                    <param name="movie" value="{{ default_banner.banner.url }}"/>
                    <param name="quality" value="high"/>
                    <param name="menu" value="false"/>
                </object>
            </div>
            {% if banner.link %}
                <p><a href="{{ default_banner.link }}">Publicité</a></p>
            {% else %}
                <p>Publicité</p>
            {% endif %}
        </div>
    {% endifequal %}
{% endif %}

