<div class="articleSection">
	<h2><span>{{ note.type.name }}</span></h2>
	<div class="note-{{ note.id }}">
	    <h3><a href="#" class="note-show">{{ note.title }}</a></h3>
	    <p class="author">Par <strong>{{ note.author }}</strong></p>
	    <!--<p class="summary"></p>-->
	    <div class="content">{{ note.content|safe }}</div>
	    
	   <script type="text/javascript">
	   // <![CDATA[
		  $(document).ready(function() {
			 $('.note-{{ note.id }} .content').hide();
			 $('.note-{{ note.id }} .summary').html('{{ note.content|striptags|truncatewords:45|safe|escapejs }}');
			 $('.note-{{ note.id }} .note-show').click(function() {
				$('.note-{{ note.id }} .summary').slideToggle('fast');
				$('.note-{{ note.id }} .content').slideToggle('fast');
				return false;
			 });
		  });
	   // ]]>
	   </script>
	</div>
</div>
