{% load image_thumbnail %}

{% if is_preview %}
    <h2><span><a href="{% url issuepreview_category issue.secret_key,article.category.slug %}">{{ article.category.name }}</a></span></h2>
{% endif %}
{% if is_archive %}
    <h2><span><a href="{% url issuearchive_category issue.number,article.category.slug %}">{{ article.category.name }}</a></span></h2>
{% endif %}
{% if is_current %}
    <h2><span><a href="{{ article.get_absolute_url }}">{{ article.category.name }}</a></span></h2>
{% endif %}

<div class="articleSection articleMain">
    
    {% if is_preview %}
        <h3><a href="{% url issuepreview_category issue.secret_key,article.category.slug %}">{{ article.title }}</a></h3>
    {% endif %}
    {% if is_archive %}
        <h3><a href="{% url issuearchive_category issue.number,article.category.slug %}">{{ article.title }}</a></h3>
    {% endif %}
    {% if is_current %}
        <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
    {% endif %}
    
	<div class="lead autoClear">
		<div class="illustration">
		    {% if article.use_default_illustration %}
		        <a href="{{ article.category.image.url }}" title="{{ article.category.image_legend }}">
		            <img src="{{ article.category.image|thumbnail:"80,0" }}" alt="{{ article.category.image_legend }}" />
		        </a>
		    {% else %}
		        <a href="{{ article.illustration.image.url }}" title="{{ article.illustration.legend }}">
		            <img src="{{ article.illustration.image|thumbnail:"80,0" }}" alt="{{ article.illustration.legend }}" />
		        </a>
		    {% endif %}
		 </div>
		 <p>{{ article.summary|safe }}</p>
	</div>
    
    {% if is_preview %}
	    <p class="readMore"><a href="{% url issuepreview_category issue.secret_key,article.category.slug %}">Lire la suite</a></p>
	{% endif %}
	{% if is_archive %}
	    <p class="readMore"><a href="{% url issuearchive_category issue.number,article.category.slug %}">Lire la suite</a></p>
	{% endif %}
	{% if is_current %}
	    <p class="readMore"><a href="{{ article.get_absolute_url }}">Lire la suite</a></p>
    {% endif %}
    
</div>

