<div class="empty-section">
    <h2><span><a href="#">NOM DE RUBRIQUE</a></span></h2>
    <div class="articleSection articleMain">
        <h3><a href="#">TITRE ARTICLE</a></h3>    
    	<div class="lead autoClear">
    		<div class="illustration">
    		    <a href="#" title="VISUEL">
    		        <img src="" alt="VISUEL" width="80" height="120" />
                </a>
            </div>
            SOMMAIRE
    	</div>
        <p class="readMore"><a href="#">Lire la suite</a></p>
    </div>
</div>

