
<h2><img src="{{ MEDIA_URL }}critica/img/pouroucontre_top.png" alt="Pour ou contre ?" /></h2>
<form action="" method="post">
    <p>SUPPRESSION DU SAMEDI MATIN POUR LES ECOLIERS&nbsp;:</p>

    <ul class="autoClear">
        <li>
        	<input name="reponse_pourcontre" type="radio" value="Bande de feignasses, les gosses !" />
        	<label>Bande de feignasses, les gosses !</label>
        </li>
        <li>
        	<input name="reponse_pourcontre" type="radio" value="Et un week-end, un, pour les profs et instits !" />
        	<label>Et un week-end, un, pour les profs et instits !</label>

        </li>
        <li>
        	<input name="reponse_pourcontre" type="radio" value="Les journées restent quand même trop longues !" />
        	<label>Les journées restent quand même trop longues !</label>
        </li>
        <li>
        	<input name="reponse_pourcontre" type="radio" value="Et pourquoi pas un jour de RTT aussi, non ?" />
        	<label>Et pourquoi pas un jour de RTT aussi, non ?</label>

        </li>
        <li>
        	<input name="reponse_pourcontre" type="radio" value="M'en fous, j'a pas de gosse(s) !!" />
        	<label>M'en fous, j'a pas de gosse(s) !!</label>
        </li>
	</ul>
    <p class="submit">
        <input src="{{ MEDIA_URL }}critica/img/pouroucontre_valider.jpg" alt="Valider" type="image"/>
    </p>
</form>

