{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block title %}Dashboard | Administration de Critic@{% endblock %}
{% block extrastyle %}<link rel="stylesheet" media="screen, projection" href="/media/critica/admin/basic/css/custom.css" />{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title|escape }}{% endif %}</div>{% endblock %}
{% block content %}
<div id="dashboard">

    <h1>{% trans "Dashboard" %}</h1>
    
    <div id="dashboard-welcome">
        <p>
            Bienvenue sur le Dashboard. Vous pouvez administrer l'édition du jour en 
            cours d'élaboration.
        </p>
        <p><strong>L'édition du jour : 135 (22 septembre 2008)</strong></p>
    </div>

    <div id="dashboard-status">
        
        <h2>État des rubriques standards</h2>

        <table>
            <tbody>
                <tr>
                    <th>Rubrique</th>
                    <th>Total articles et brèves</th>
                    <th>Total brèves</th>
                    <th>Positionnée</th>
                    <th>Complète</th>
                </tr>
                {% for std_category in std_categories %}
                <tr>
                    <td class="category"><a href="/admin/articles/article/?category__id__exact={{ std_category.0.id }}">{{ std_category.0.name }}</a></td>
                    <td class="count-all">
                        {{ std_category.1 }} / {{ std_category.3 }}
                    </td>
                    <td class="count-notes">
                        {{ std_category.2 }} / {{ std_category.4 }}
                    </td>
                    <td class="position">Par défaut</td>
                    <td class="complete">
                        {% if std_category.5 %}
                        <img src="/media/critica/admin/basic/images/tick.png" />
                        {% else %}
                        <img src="/media/critica/admin/basic/images/stop.png" />
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h2>États des autres rubriques</h2>
        
        <table>
            <tbody>
                <tr>
                    <th>Rubrique</th>
                    <th>Total articles</th>
                    <th>Positionnée</th>
                    <th>Complète</th>
                </tr>
                <tr>
                    <td class="category"><a href="#">Régions</a></td>
                    <td class="count-all">{{ regions_count }} / {{ regions_quota }}</td>
                    <td class="position"><strong>Par défaut</strong></td>
                    <td class="complete">
                        {% if regions_complete %}
                        <img src="/media/critica/admin/basic/images/tick.png" />
                        {% else %}
                        <img src="/media/critica/admin/basic/images/stop.png" />
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="category"><a href="#">Voyages</a></td>
                    <td class="count-all">{{ voyages_count }} / {{ voyages_quota }}</td>
                    <td class="position"><strong>Par défaut</strong></td>
                    <td class="complete">
                        {% if voyages_complete %}
                        <img src="/media/critica/admin/basic/images/tick.png" />
                        {% else %}
                        <img src="/media/critica/admin/basic/images/stop.png" />
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="category"><a href="#">Épicurien</a></td>
                    <td class="count-all">{{ epicurien_count }} / {{ epicurien_quota }}</td>
                    <td class="position"><strong>Par défaut</strong></td>
                    <td class="complete">
                        {% if epicurien_complete %}
                        <img src="/media/critica/admin/basic/images/tick.png" />
                        {% else %}
                        <img src="/media/critica/admin/basic/images/stop.png" />
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="category"><a href="#">Coup de Gueule</a></td>
                    <td class="count-all">{{ anger_count }} / {{ anger_quota }}</td>
                    <td class="position"><strong>Par défaut</strong></td>
                    <td class="complete">
                        {% if anger_complete %}
                        <img src="/media/critica/admin/basic/images/tick.png" />
                        {% else %}
                        <img src="/media/critica/admin/basic/images/stop.png" />
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
{% endblock %}
