{% extends 'admin/base_site.html' %}
{% load i18n %}
{% block title %}Dashboard | Administration de Critic@{% endblock %}
{% block content %}

    <h1>{% trans "Dashboard" %}</h1>
    
    <h2>La Une</h2>
    
    {% if articles %}
        ARTICLES
    {% else %}
        <p><strong>Pas encore d'articles principaux publiés dans cette édition.</strong></p>
    {% endif %}

    <h2>Les rubriques</h2>
    
    {% if articles %}
        {% regroup articles by category as category_list %}
        {% for category in category_list %}
            <h3>{{ category.grouper }}</h3>
        {% endfor %}
    {% else %}
        <p><strong>Pas encore d'articles / brèves publiés dans une rubrique.</strong></p>
    {% endif %}
    
{% endblock %}
