<h3>{{ article.title }}</h3>

<p class="author">Par {{ article.author.get_full_name }}</p>

<div class="illustration"> 
    <img src="{{ article.illustration.image.url }}" alt="article" />
	<p class="credits">Photo : {{ article.illustration.credits }} - {{ article.illustration.legend }}</p>
</div>

<p class="lead">{{ article.summary|safe }}</p>

<p class="readMore slick-show"><a href="#">Lire la suite</a></p>

<div class="slickbox" style="display:block;">

    {{ article.content|safe }}

	<p class="readMore slick-hide"><a href="#">Masquer</a></p>

</div>

