{% extends "layout/base.html" %}
{% block title %}NOM DE LA CATEGORIE{% endblock %}
{% block content %}
<!-- LEFT WRAP -->

<div id="mainContent" class="leftWrap">

	<h1>Bouquins</h1>

	<div class="articleSection articleMain">

		<h3>F1 : Ne serait-ce Spa-Francorchamps dimanche ?</h3>
		<p class="author">Par Bruno Cavalié</p>
		<div class="illustration"> <img src="{{ MEDIA_URL }}critica/images/article/article5_wide.jpg" alt="article" />
			<p class="credits">Photo : Teamshoot - Cki ? Bruce Mc Laren, pionnier</p>
		</div>
		<p class="lead">Eh ben si. Ce week-end, nos amis belges vont poursuivre leur histoire d’amour avec la Formule 1 débutée en 1950. Autant dire qu’il s’agit d’une classique parmi les classiques, comme dirait le cycliste du plat pays. </p><p>Que ce soit à Zolder autrefois, ou à Spa-Francorchamps aujourd’hui, les plus grands s’y sont distingués, de Fangio à Raïkkönen. D’ailleurs, comme Juan-Manuel, celui-ci y a gagné trois fois. Va-t-il passer la 4e ? A moins que le leader Hamilton, ou le dauphin Massa...</p>
		<p>Quelque chose nous dit que ce Grand Prix rappelle même Michael Schumacher aux bons souvenirs. Cette semaine, le septuple empereur allemand s’est fait choper à 140 km/h sur une route limitée à cent au volant d’une Audi cabriolet, c’est dire ! Il s’est alors excusé en précisant que "la vitesse n’était déstinée que pour les circuits de course"… Ben dis donc, ça tombe super bien, vu que tous les pilotes se pointent dès aujourd’hui sur le tracé belge, là, non loin de Liège une fois ! Parce que dimanche, ils s’attaqueront au treizième - vrRAAOUOUMmm - de l’année (sur un total de dix-huit). Et donc que les choses vont - vrRAAOUOUMmm - commencer à se - vrRAAOUOUMmm - préciser.</p>
		<p>C’est sur cette longue, longue, longue piste qui fut ramenée de 14 à 6,973 km, pour être super précis, que les mecs vont alterner lignes droites et courbes rapides. Bref, du - vrRAAOUOUMmm - très technique. Par ses virages en dévers, son épingle très lente (La Source), et le célèbre "Raidillon" (Eau Rouge), ce circuit offre aux pilotes des sensations qu’ils ne connaissent pas forcément ailleurs. Une boucle qu’ils se taperont 44 fois, pour une - vrRAAOUOUMmm - totale de 308,176 bornes. Et puis, il y a la météo belge. Le plat pays se fait souvent balayé par le vent, et des fois même, eh ben il pleut à verse. Ainsi, il arrive que ça pisse comme vache sur une partie du tracé, alors que l’autre reste au sec. Plutôt - vrRAAOUOUMmm - embêtant. Mais cela n’a pas empêché Schumacher d’y gagner, 6 fois, mais aussi Senna, 5 fois, ou Fangio, 3 fois, ou encore Prost, 2 fois, ou encore McLaren, une fois... <p>

		<p class="readMore slick-show"><a href="#">Lire la suite</a></p>

		<div class="slickbox" style="display:block;">


		<h4>Qui en preumse ? Hamilton ou Massa ?</h4>

		<p>Bon, le vieux circuit, l’historique, tout ça, c’est bien - vrRAAOUOUMmm - beau. Mais cette année, kicéki peut voir le drapeau à damier en preumse ? Lewis Hamilton, british pilote qui affectionne autant la flotte que son compatriote le rugbyman, il peut le faire. Surtout qu’il se trouve en tête du classement général, avec 70 points et six - vrRAAOUOUMmm - d’avance sur Felipe Massa. D’autant plus qu’à 23 balais, le talent de chez McLaren considère Spa comme son goudron préféré, qu’il arrive à maturité, avec quatre - vrRAAOUOUMmm - gagnés cette année, dont deux rien qu’en juillet (Angleterre et Allemagne). Mais bi carrefour quand même ! Bicause il a failli se choper le cou du lapin lors des essais du - vrRAAOUOUMmm - d’Europe, à Valence le week-end dernier. Malgré ça, Hamilton a assumé son statut de leader, en finissant second… Donc s’il pouvait creuser l’écart sur ses concurrents, il ne se gênera pas.</p>
		<p>

		Second en Espagne, c’était juste derrière un Brésilien de chez Ferrari… Massa justement ! Celui-là se réjouit de constater que la Scuderitaliana a progressé en matière de moteur. Fini les casses à la noix et les petits pépins techniques qui foutent sa conduite en l’air. Du coup, il ne faut pas oublier son Kimi Raïkkönen de collègue, le Finlandais champion du monde en titre (57 points), déjà vainqueur à cet endroit à trois reprises, faut-il le rappeler. Ni le Polonais Robert Kubica, un nouveau trouble-fête qui - vrRAAOUOUMmm - en BMW-Sauber. A moins que ce double champion d’Espagnol Fernando Alonso, tombé en rade sous les yeux attristés des aficionados à Valence, ne cherche à prendre sa revanche… Ah mais non ! Lui, il roule en Renault cette saison. Donc ça va pas être possible.
		</p>

		<p>

		53e - vrRAAOUOUMmm - de Belgique : dimanche à 14h, circuit de Spa-Francorchamps, 55, route du Circuit, B-4970 Francorchamps, Belgique (et sur TF1).</p>Par Bruno Cavalié

			<div class="relatedArticles">
				<h4>A lire aussi</h4>
				<ul>
					<li><h5><a href="#">Ces acteurs qui soutiennent des candidats <span>(n°284 - 12.08.2008)</span></a></h5></li>
					<li><h5><a href="#">Sarkozy veut remonter le moral des policiers et gendarmes <span>(n°284 - 12.08.2008)</span></a></h5></li>
					<li><h5><a href="#">Pascal n'a plus d'idées <span>(n°284 - 12.08.2008)</span></a></h5></li>
				</ul>
			</div>

			<p class="readMore slick-hide"><a href="#">Masquer</a></p>

		</div>


	</div>

	<!-- ADD -->
	<div class="addSection add468">
		<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<!-- // ADD -->

	<!-- ARTICLE LIST -->
	<div class="articleList autoClear">

		<div class="articleSection" >
			<h2><span>Première nouvelle</span></h2>
			<div class="lead autoClear">
				<h3>Quand le bâtiment ne va pas, rien ne va </h3>
				<p>Une étude espagnole souligne un nouveau phénomène de société, dû à la crise immobilière que connaît le pays. Le prix des logements est tellement haut que les couples qui se séparent n'ont pas les moyens de se barrer dans un autre appart', tant que le leur n'est pas vendu. Du coup, ils continuent à vivre ensemble jusqu'à la vente. Mais comme c'est cher, ça se vend mal, et la cohabitation peut durer. Après, on n'ira pas s'étonner que les violences conjugales soient en augmentation !</p>
			</div>
			<p class="readMore"><a href="#">Lire la suite</a></p>
		</div>



		<div class="articleSection">
			<h2><span>On s’en serait passé</span></h2>
			<div class="lead autoClear">
				<h3>Œdipe a encore frappé</h3>
				<p>Hier, la police espagnole a arrêté, à Badalone, un homme accusé d'avoir tué son père de 65 ans. Le meurtrier présumé a été repéré alors qu'il faisait un tabac pas possible dans un bureau du même nom. Selon les enquêteurs, l'homme serait atteint de maladie mentale. Sans vouloir jouer les psy à deux euros, c'est pas ce qui s'appelle un complexe d'Œdipe mal réglé, ça ?</p>
			</div>
			<p class="readMore"><a href="#">Lire la suite</a></p>
		</div>

		<div class="articleSection">
			<h2><span>On en rirait presque</span></h2>
			<div class="lead autoClear">
				<h3>Le flic paie les pots cassés</h3>
				<p>Hier soir, un septuagénaire de Bruxelles appelle les flics de son quartier, au motif que des jeunes en bas de l'immeuble se disputent et font un bordel à tout casser. Une patrouille se rend donc rue des Potiers, à l'adresse dudit immeuble. Mais le flic qui est monté rencontrer le plaignant s'est fait recevoir : pensant qu'il s'agissait d'un des jeunes agitateurs, le papy, excédé, a ouvert la porte et a poignardé le fonctionnaire. En voilà un qui a payé les pots cassés des mauvaises relations de voisinage de la rue des Potiers.</p>
			</div>
			<p class="readMore"><a href="#">Lire la suite</a></p>
		</div>

		<div class="articleSection">
			<h2><span>Ils ont osé</span></h2>
			<div class="lead autoClear">
				<h3>Détournement à 20.000 balles</h3>
				<p>Un ancien adjudant de l'armée belge, ex-comptable du Club Prince Albert, un restaurant uniquement réservé aux militaires, a réussi pendant plusieurs années à détourner 20.000 euros par mois des caisses de l'établissement. L'adjudant doit ainsi quelque 622.000 euros à l'armée de son pays. C'est ballot, parce qu'avec 20.000 balles par mois, l'armée aurait pu renflouer son stock des munitions qui lui font tant défaut.</p>
			</div>
			<p class="readMore"><a href="#">Lire la suite</a></p>
		</div>

	</div>
	<!-- // ARTICLE LIST -->

	<!-- ADD -->
	<div class="addSection add468">
		<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<!-- // ADD -->


</div>
<!-- // LEFT WRAP -->

<!-- RIGHT WRAP -->
<div class="rightWrap">

	<div class="articleSection articleMain">
		<h2><span>Vous saviez ?</span></h2>
		<h3>Le procès de la dague</h3>
		<p>Hier, s'est ouvert le procès en assises du meurtrier présumé de Zak, 18 ans, tué à coups de dague par un autre jeune, le 27 novembre 2004, dans un square des Champs Elysées. Au départ, les enquêteurs ont pensé qu'il s'agissait d'un règlement de comptes entre bandes rivales, s'étant croisées sur la plus belle avenue du monde. Sauf que par la suite, l'enquête a démontré qu'elles avaient bons dos, les embrouilles de cités, et que Zak était loin d'être un caïd de quartier. Du coup, la défense ne pourra pas axer sa plaidoirie sur "le problème des banlieues". Va falloir que l'avocat de l'accusé trouve autre chose pour "daguer" l'opinion des jurés.</p>
	</div>

	<div id="newsletterSection">
		<form action="" method="post">
			<p><input name="news" value="Votre e-mail" onfocus="this.value=''" size="50" maxlength="100" id="newsletterEmail" type="text" /></p>
			<p class="submit"><input src="{{ MEDIA_URL }}critica/images/ok.png" alt="Valider" type="image" /></p>
		</form>
	</div>

	<!-- SUB CONTENT -->
	<div id="subContent">

		<!-- LEFT WRAP -->
		<div class="leftWrap">

			<div class="articleList autoClear">

				<div class="articleSection">
					<h2>L'info off</h2>
					<div class="button">
						<h3>Quiproquo fatal</h3>
						<p>Hier, une mère de deux enfants de 18 mois et 4 ans, sous la menace d'une expulsion de son HLM, a succombé à ses blessures après s'être défenestrée du troisième étage d'un immeuble de Istres. </p>
					</div>
					<div>
						<p>On lui avait pourtant bien dit que, si elle voulait se sortir de la merde, il fallait de la persévérance avec les services sociaux. La malheureuse a dû prendre ce conseil au pied de la lettre : "si tu te fais jeter en frappant à leur porte, passe par la fenêtre".</p>
					</div>
				</div>
				<div class="articleSection">
					<h2>Fallait s'en douter</h2>
					<div class="button">
						<h3>Le Journal de Pierrot</h3>
						<p>Bonjour, je m'appelle Pierre Bodein, mais tout le monde m'appelle Pierrot le Fou, rapport à mes selles habitudes en taule – j'adoooore me barbouiller avec mon caca…  </p>
					</div>
					<div>
						<p>Bon, là, pour tout vous avouer, j'ai un peu de mal à refouler mes fantasmes : Rachida Chérie est enceinte !</p><p>Or, vous connaissez ma faiblesse pour les femmes qui ont accouché… Alors pensez ! Ajouter à mon palmarès une ministre de la Justice… Elle doit enfanter en janvier 2009. Mais bon, j'suis pas fou, je sais bien qu'avec mon procès qui s'annonce, moi, contrairement à son rejeton, à cette date-là, je ne serai pas sorti du trou. Rachida restera donc pour moi un fantasme inaccessible. Bien à vous, votre ami Pierrot. </p>
					</div>
				</div>
				<div class="articleSection">
					<h2>Criti...cons</h2>
					<div class="button">
						<h3>Il shoote le sheriff</h3>
						<p>Hier soir, un forcené a abattu six personnes, dans les rues d'Alger (USA, Etat de Washington), et en a blessé grièvement deux autres, suite à une course-poursuite avec la police. </p>
					</div>
					<div>
						<p>Parmi les victimes, le shérif du comté. On ne connaît pas les raisons de cette chevauchée meurtrière, mais il semblerait que le tueur soit quelque peu dérangé du ciboulot. La chanson de Bob Marley, I shot the sheriff devait lui trotter dans la tête au moment des faits. </p>
					</div>
				</div>
				<div class="articleSection">
					<h2>Ca, c'est fait !</h2>
					<div class="button">
						<h3>Le patron du Renseignement militaire sort la boîte à gifles</h3>
						<p>Un jeune allemand fait actuellement l'objet d'une enquête pour s'être fait piquer à 100 kilomètres heure sur un tronçon de route limité à 80. Pas de quoi faire une brève nous direz-vous. Pas si sûr.…  </p>
					</div>
					<div>
						<p>Car ce que l'on ne vous dit pas (faut bien ménager le suspense), c'est que le contrevenant roulait en skate ! Il avait pris de l'élan en se faisant tirer par une moto, avant de s'élancer dans une pente relativement abrupte. Le gars voulait attirer l'attention sur son exploit. Ben, il a déjà eu les honneurs des flashes de la gendarmerie, c'est un début.</p>
					</div>
				</div>
				<div class="articleSection">
					<h2>Aucun intérêt</h2>
					<div class="button">
						<h3>Grosses coupures et petite arnaque</h3>
						<p>Les policiers de Bruxelles sont depuis cet été à la recherche d'un jeune homme qui a escroqué des particuliers, en se faisant passer pour le fils d'un gendarme. </p>
					</div>
					<div>
						<p>Le jeune faisait croire qu'il était enfermé hors de chez lui, et demandait à ses victimes 20 ou 50 euros, pour le dépanner. On sait bien que l'argent ouvre bien des portes, mais quand même. Le lendemain, il venait pour les rembourser, mais vu qu'il n'avait que des grosses coupures, les victimes lui rendaient la monnaie... avant même d'avoir vu la couleur de leur premier argent. Et bien sûr, le mec se carapatait avec le fric… Vous en auriez fiché votre billet, hein ?</p>
					</div>
				</div>
			</div>

		</div>
		<!-- // LEFT WRAP -->

		<!-- RIGHT WRAP -->
		<div class="rightWrap">

			<div class="addSection">
				<div class="add130"> <a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_130x600.gif" alt="Publicit&eacute;" /></a></div>
				<p><a href="">Publicité</a></p>
			</div>

		</div>
		<!-- // RIGHT WRAP -->

	</div>
	<!-- // SUB CONTENT -->

</div>
<!-- // RIGHT WRAP -->
{% endblock %}
