{% extends "layout/base.html" %}
{% block title %}{{ page.category.name }}{% endblock %}
{% block content %}
<!-- LEFT WRAP -->

<div id="mainContent" class="leftWrap">

	<h1>{{ page.category.name }}</h1>

	<div class="articleSection articleMain">
        {% for article in articles %}
            {% ifequal article.type.id 1 %}
                {% include "journal/_article_main.html" %}
            {% endifequal %}
        {% endfor %}
	</div>

	<!-- ADD -->
	<div class="addSection add468">
		<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<!-- // ADD -->

	<!-- ARTICLE LIST -->
	<div class="articleList autoClear">
        {% for article in articles %}
            {% ifequal article.type.id 8 %}
                {% include "journal/category/_article_pushpin.html" %}
            {% endifequal %}
            {% ifequal article.type.id 9 %}
                {% include "journal/category/_article_pushpin.html" %}
            {% endifequal %}
            {% ifequal article.type.id 10 %}
                {% include "journal/category/_article_pushpin.html" %}
            {% endifequal %}
            {% ifequal article.type.id 11 %}
                {% include "journal/category/_article_pushpin.html" %}
            {% endifequal %}
        {% endfor %}
	</div>
	<!-- // ARTICLE LIST -->

	<!-- ADD -->
	<div class="addSection add468">
		<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<!-- // ADD -->


</div>
<!-- // LEFT WRAP -->

<!-- RIGHT WRAP -->
<div class="rightWrap">
    
    {% for article in articles %}
        {% ifequal article.type.id 2 %}
            {% include "journal/category/_article_postit.html" %}
        {% endifequal %}
    {% endfor %}

	<div id="newsletterSection">
		<form action="" method="post">
			<p><input name="news" value="Votre e-mail" onfocus="this.value=''" size="50" maxlength="100" id="newsletterEmail" type="text" /></p>
			<p class="submit"><input src="{{ MEDIA_URL }}critica/images/ok.png" alt="Valider" type="image" /></p>
		</form>
	</div>

	<!-- SUB CONTENT -->
	<div id="subContent">

		<!-- LEFT WRAP -->
		<div class="leftWrap">
			<div class="articleList autoClear">
                {% for article in articles %}
                    {% ifequal article.type.id 3 %}
                        {% include "journal/category/_article_accordion.html" %}
                    {% endifequal %}
                    {% ifequal article.type.id 4 %}
                        {% include "journal/category/_article_accordion.html" %}
                    {% endifequal %}
                    {% ifequal article.type.id 5 %}
                        {% include "journal/category/_article_accordion.html" %}
                    {% endifequal %}
                    {% ifequal article.type.id 6 %}
                        {% include "journal/category/_article_accordion.html" %}
                    {% endifequal %}
                    {% ifequal article.type.id 7 %}
                        {% include "journal/category/_article_accordion.html" %}
                    {% endifequal %}
                {% endfor %}
			</div>
		</div>
		<!-- // LEFT WRAP -->

		<!-- RIGHT WRAP -->
		<div class="rightWrap">

			<div class="addSection">
				<div class="add130"> <a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_130x600.gif" alt="Publicit&eacute;" /></a></div>
				<p><a href="">Publicité</a></p>
			</div>

		</div>
		<!-- // RIGHT WRAP -->

	</div>
	<!-- // SUB CONTENT -->

</div>
<!-- // RIGHT WRAP -->
{% endblock %}
