{% extends "layout/base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
<!-- MAIN CONTENT -->
<div id="mainContent" class="leftWrap">

    {% for article in articles %}
        {% ifequal article.category.position_on_page 1 %}
            {% include "journal/includes/home/_article_frame.html" %}
	    {% endifequal %}
	    {% ifequal article.category.position_on_page 2 %}
            {% include "journal/includes/home/_article_frame.html" %}
	    {% endifequal %}
	{% endfor %}

	<!-- ADD -->
	<div class="addSection add468">
		<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<!-- // ADD -->

	<!-- ARTICLE LIST -->
	<div class="articleList autoClear">
        {% for article in articles %}
    	    {% ifequal article.category.slug "societe" %}
                {% include "journal/includes/home/_article_pushpin.html" %}
    	    {% endifequal %}
            {% ifequal article.category.slug "nanas" %}
                {% include "journal/includes/home/_article_pushpin.html" %}
    	    {% endifequal %}
            {% ifequal article.category.slug "sports" %}
                {% include "journal/includes/home/_article_pushpin.html" %}
            {% endifequal %}
            {% ifequal article.category.slug "tele" %}
                {% include "journal/includes/home/_article_pushpin.html" %}
            {% endifequal %}
            {% ifequal article.category.slug "pipoles" %}
                {% include "journal/includes/home/_article_pushpin.html" %}
            {% endifequal %}
            {% ifequal article.category.slug "insolites" %}
                {% include "journal/includes/home/_article_pushpin.html" %}
            {% endifequal %}
	    {% endfor %}
	</div>
	<!-- // ARTICLE LIST -->

	<!-- ADD -->
	<div class="addSection add468">
		<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<!-- // ADD -->

	<!-- ARTICLE LIST -->
	<div class="articleList autoClear">
	    {% for article in articles %}
	        {% ifequal article.category.slug "voyages" %}
                {% include "journal/includes/home/_article_pushpin.html" %}
		    {% endifequal %}
		{% endfor %}
		<div class="articleSection" id="epicurien">
			<h2><span><a href="{% url category "epicurien" %}">L'épicurien</a></span></h2>
			<div class="lead  autoClear">
				<ul>
					<li><h3>Côté fumeur</h3><a href="{% url category "epicurien" %}#">Coupage, allumage, deux opérations à ne pas louper</a></li>
					<li><h3>Côté gourmet</h3><a href="{% url category "epicurien" %}#">P'tit porc au curry entre amis</a></li>
					<li><h3>Côté alcools</h3><a href="{% url category "epicurien" %}#">Bowmore 17 ans d'âge</a></li>
				</ul>
			</div>
			<p class="readMore"><a href="{% url category "epicurien" %}">Lire la suite</a></p>
		</div>
	</div>
	<!-- // ARTICLE LIST -->

	<!-- ADD -->
	<div class="addSection add468">
		<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/alerte_enlevement.jpg" alt="Alerte en lèvement" /></a>
		<p><a href="">Alerte enlèvement</a></p>
	</div>
	<!-- // ADD -->

</div>
<!-- // MAIN CONTENT -->


<!-- SUB CONTENT -->
<div class="rightWrap">
    <div class="articleSection articleMain">
        {% for article in articles %}
            {% ifequal article.category.slug "bouquins" %}
                {% include "journal/includes/home/_article_postit.html" %}
            {% endifequal %}
        {% endfor %}
    </div> 
	<div id="newsletterSection">
		<form action="" method="post">
			<p><input name="news" value="Votre e-mail" onfocus="this.value=''" size="50" maxlength="100" id="newsletterEmail" type="text" /></p>
			<p class="submit"><input src="{{ MEDIA_URL }}critica/images/ok.png" alt="Valider" type="image" /></p>
		</form>
	</div>

	<div id="subContent">
		<!-- LEFT WRAP -->
		<div class="leftWrap">

			<!-- ARTICLE LIST -->
			<div class="articleList">
			    {% for article in articles %}
			        {% ifequal article.category.slug "coup-de-gueule" %}
                        {% include "journal/includes/home/_article_tape.html" %}
				    {% endifequal %}
			    {% endfor %}
			</div>
			<!-- // ARTICLE LIST -->

			<div class="addSection">
				<div class="add145 autoClear">
					<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_145x145.gif" alt="Publicit&eacute;" /></a>
					<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_145x145.gif" alt="Publicit&eacute;" /></a>
					<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_145x145.gif" alt="Publicit&eacute;" /></a>
					<a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_145x145.gif" alt="Publicit&eacute;" /></a>
				</div>
				<p><a href="#">Publicité</a></p>
			</div>

			<!-- ARTICLE LIST -->
			<div class="articleList">
				<div class="articleSection" id="caricature">
					<h2>L'illustration du jour</h2>
					<div class="illustration"><a href="{{ page.illustration.image.url }}" title="{{ page.illustration.legend }}"><img src="{{ page.illustration.image.url }}" alt="L'illustration du jour" /></a></div>
					<p></p>
					<p class="credits">{{ page.illustration.credits }}</p>
				</div>

				<div class="articleSection" id="reportage">
					<h2>Reportage</h2>
					<object width="300" height="241" type="application/x-shockwave-flash" data="http://www.youtube.com/v/0tNdNxvmH-4&hl=en&fs=1&rel=0">
						<param name="movie" value="http://www.youtube.com/v/0tNdNxvmH-4&hl=en&fs=1&rel=0" />
						<param value="high" name="quality"/>
						<param value="false" name="menu"/>
						<param name="allowFullScreen" value="true" />
					</object>
				</div>
			</div>

		</div>
		<!-- // LEFT WRAP -->

		<!-- RIGHT WRAP -->
		<div class="rightWrap">

			<div id="surveySection">
				<h2><img src="{{ MEDIA_URL }}critica/images/pouroucontre_top.png" alt="Pour ou contre ?" /></h2>
				<form action="" method="post">
					<p>SUPPRESSION DU SAMEDI MATIN POUR LES ECOLIERS&nbsp;:</p>
					<ul class="autoClear">
						<li><input name="reponse_pourcontre" type="radio" value="Bande de feignasses, les gosses !" /><label>Bande de feignasses, les gosses !</label></li>
						<li><input name="reponse_pourcontre" type="radio" value="Et un week-end, un, pour les profs et instits !" /><label>Et un week-end, un, pour les profs et instits !</label></li>
						<li><input name="reponse_pourcontre" type="radio" value="Les journées restent quand même trop longues !" /><label>Les journées restent quand même trop longues !</label></li>
						<li><input name="reponse_pourcontre" type="radio" value="Et pourquoi pas un jour de RTT aussi, non ?" /><label>Et pourquoi pas un jour de RTT aussi, non ?</label></li>
						<li><input name="reponse_pourcontre" type="radio" value="M'en fous, j'a pas de gosse(s) !!" /><label>M'en fous, j'a pas de gosse(s) !!</label></li>
					</ul>
					<p class="submit"><input src="{{ MEDIA_URL }}critica/images/pouroucontre_valider.jpg" alt="Valider" type="image"/></p>
				</form>
			</div>

			<div id="meteo">
				<p><a href="#"><img src="{{ MEDIA_URL }}critica/images/meteo.jpg" alt="M&eacute;t&eacute;o" /></a></p>
			</div>

			<div class="addSection">
				<div class="add130"> <a href="#"><img src="{{ MEDIA_URL }}critica/images/add/pub_130x600.gif" alt="Publicit&eacute;" /></a></div>
				<p><a href="">Publicité</a></p>
			</div>

		</div>
		<!-- // RIGHT WRAP -->

		<!-- TAG CLOUD -->
		<div id="tagcloudSection" style="text-align: center;">
			<h2>Nuage de tags</h2>
			{% load tagging_tags %}
			{% tag_cloud_for_model journal.article as tags with steps=8 distribution=log min_count=2 %}
			{% for tag in tags %}
			    <span style="font-size: 1.{{ tag.font_size }}em; padding: 0.2em; line-height: 1.6em;"><a href="{% url tag tag.name|slugify %}" title="Articles taggés {{ tag.name }}">{{ tag.name }}</a></span>
			{% endfor %}
		</div>
		<!-- TAG CLOUD -->

	</div>

</div>
<!-- // SUB CONTENT -->
{% endblock %}
