#bodyWrap {
	width: 100%;
	margin: 0 auto;
}

/* CONTENT WRAP ----------------------------------------------------------------- */
.contentWrap {
	width: 1005px;
	margin: 0 auto;
}
/* LEFT WRAP ----------------------------------------------------------------- */
.leftWrap {
	float: left;
	width: 550px;
	display:inline;
}
/* RIGHT WRAP ----------------------------------------------------------------- */
.rightWrap {
	float: right;
	width: 455px;
	display:inline;
}

/* HEADER ---------------------------------------------------------------------- */
#header {
	width: 100%; height: 140px;
	margin:0; padding:0;
}

/* HEADLINE CONTENT ----------------------------------------------------------------- */
#headlineContent {
	width: 100%; height: 24px;
	margin:0; padding:0;
}

/* MAIN NAV ---------------------------------------------------------------------- */
#mainNav{
	margin-bottom:10px;
}

/* SUB CONTENT ------------------------------------------------------------------- */
#subContent .leftWrap{
	width:325px;
}
#subContent .rightWrap{
	width:130px;
}

/* FOOTER  ------------------------------------------------------------------- */
#footer {
	height: 50px;
	clear:both;
}


