{% extends 'admin/base_site.html' %}

{% load i18n %}

{% block title %}Dashboard Publicités | Administration de Critic@{% endblock %}

{% block extrastyle %}<link rel="stylesheet" media="screen, projection" href="{{ MEDIA_URL }}critica/admin/basic/css/custom.css" />{% endblock %}

{% block branding %}
<h1 id="site-name">Dashboard Publicités | Administration de Critic@</h1>
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title|escape }}{% endif %}</div>{% endblock %}

{% block content %}
<div id="ads-dashboard">

    <h1><a href="{% url ads_dashboard_index %}">Dashboard Publicités</a>{% if specific_campaign %} / Campagne {{ specific_campaign.name }}{% endif %}</h1>

    <div id="ads-dashboard-welcome" class="dashboard-welcome">
        <p>Bienvenue sur le Dashboard Publicité.</p>
        {% if latest_campaign %}
        <p>Vous consultez actuellement le dashboard de la campagne publicitaire &laquo; {{ latest_campaign.name }} &raquo;</p>
        <p>Pour avoir un aperçu de cette campagne sur le site, utilisez ce lien caché : <a href="#" title="lien caché">lien caché</a></p>
        {% else %}
        <p>Aucune campagne publicitaire pour le moment.</p>
        {% endif %}
    </div>
    
    {% if campaigns %}
    <div id="ads-dashboard-others" class="dashboard-others">
        <p>Accéder au dashboard d'une autre campagne&nbsp;:</p>
        <ul>
            {% for campaign in campaigns %}
            <li><a href="{% url ads_dashboard_campaign campaign.id %}" title="Consulter le dashboard pour la campagne &laquo; {{ campaign.name }} &raquo;">{{ campaign.name }}</a></li> 
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    {% if latest_campaign %}
    <h2>Bannières</h2>
    <div id="ads-dashboard-banners" class="dashboard-table">
        <table summary="Bannière de la campagne">
            <tbody>
                <tr>
                    <th>Format</th>
                    <th>Rubrique</th>
                    <th>Emplacement</th>
                    <th>Durée en jours</th>
                    <th>Prix au jour (en euro)</th>
                    <th>Prix total (en euro)</th>
                </tr>
                {% for banner in latest_campaign.adbanner_set.all %}
                    {% for position in banner.positions.all %}
                    <tr>
                        <td>{{ banner.format.width }}x{{ banner.format.height }}</td>
                        <td>{{ position.page }}</td>
                        <td>{{ position.location }}</td>
                        <td>{{ banner.count_days }}</td>
                        <td>{{ position.price }}</td>
                        {% load ads_extra %}
                        <td>{% calculate_total_price banner.count_days position.price %}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    
</div>
{% endblock %}
