{% extends 'admin/base_site.html' %}

{% load i18n %}

{% block title %}Dashboard Publicités | Administration de Critic@{% endblock %}

{% block extrastyle %}<link rel="stylesheet" media="screen, projection" href="{{ MEDIA_URL }}critica/admin/basic/css/custom.css" />{% endblock %}

{% block branding %}
<h1 id="site-name">Dashboard Publicités | Administration de Critic@</h1>
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title|escape }}{% endif %}</div>{% endblock %}

{% block content %}
<div id="ads-dashboard">

    <h1><a href="{% url ads_dashboard_index %}">Dashboard Publicités</a> / Campagne &laquo; {{ campaign.name }} &raquo; ({{ campaign.customer.name }})</h1>

    <div id="ads-dashboard-welcome" class="dashboard-welcome">
        <ul>
            <li>Bienvenue sur le Dashboard Publicité.</li>
            {% if campaign %}
            <li>Vous consultez actuellement le dashboard de la campagne publicitaire &laquo; {{ campaign.name }} &raquo; ({{ campaign.customer.name }})</li>
            <li>Pour avoir un aperçu de cette campagne sur le site, utilisez ce lien protégé : <a href="{% url ads_preview_home campaign.id %}" title="Aperçu de la campagne publicitaire &laquo; {{ campaign.name }} ({{ campaign.customer.name }}) &raquo;" target="_blank">{{ campaign.get_preview_url }}</a></li>
            {% else %}
            <li>Aucune campagne publicitaire pour le moment.</li>
            {% endif %}
        </ul>
    </div>
    
    {% if campaigns %}
    <div id="ads-dashboard-others" class="dashboard-others">
        <p>Accéder au dashboard d'une autre campagne&nbsp;:</p>
        <ul>
            {% for campaign in campaigns %}
            <li><a href="{% url ads_dashboard_campaign campaign.id %}" title="Consulter le dashboard pour la campagne &laquo; {{ campaign.name }} &raquo;">{{ campaign.name }}</a></li> 
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    <h2>Bannières</h2>
    <div id="ads-dashboard-banners" class="dashboard-table">
        {% if campaign.adbanner_set.all %}
        <table summary="Bannière de la campagne">
            <tbody>
                <tr>
                    <th>Format</th>
                    <th>Rubrique</th>
                    <th>Emplacement</th>
                    <th>Dates</th>
                    <th>Durée en jours</th>
                    <th>Prix au mois (en euro)</th>
                    <th>Prix total (en euro)</th>
                </tr>
                {% for banner in campaign.adbanner_set.all %}
                    {% for position in banner.positions.all %}
                    <tr>
                        <td>{{ banner.format.width }}x{{ banner.format.height }}</td>
                        <td>{{ position.page }}</td>
                        <td>{{ position.location }}</td>
                        <td>{{ banner.starting_date }} &rarr; {{ banner.ending_date }}</td>
                        <td>{{ banner.count_days }}</td>
                        <td>{{ position.price }}</td>
                        {% load ads_extra %}
                        <td>{% calculate_total_price banner.count_days position.price %}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p><strong>Aucune bannière enregistrée pour cette campagne.</strong></p>
        {% endif %}
    </div>
    
</div>
{% endblock %}
