{% extends "layout/base.html" %}

{% block title %}Canal Critica{% endblock %}

{% block body_id %}canalcritica{% endblock %}

{% block content %}
<div id="mainContent">
    
    <h1>Canal Critic@</h1>
    
    <p>Abonnez vous au flux RSS de Canal Critic@&nbsp;: <a href="http://www.dailymotion.com/rss/canalcritica/1">RSS</a>
    <iframe id="dm_jukebox_iframe" style="margin: 0pt; padding: 0pt; overflow: hidden; width: 800px; height: 360px;" marginwidth="0" marginheight="0" src="http://www.dailymotion.com/widget/jukebox?list%5B%5D=%2Fplaylist%2Fxpsll_canalcritica_mercri&amp;list%5B%5D=%2Fplaylist%2Fxpslj_canalcritica_ha-ha-ha-mdr&amp;list%5B%5D=%2Fplaylist%2Fxpslb_canalcritica_ah-bravo&amp;list%5B%5D=%2Fplaylist%2Fxpsl6_canalcritica_trop-cool&amp;list%5B%5D=%2Fplaylist%2Fxpsku_canalcritica_criticactu&amp;skin=darknight" align="center" width="100%" frameborder="0"></iframe>

</div>
{% endblock %}

