{% extends "layout/base.html" %}
{% load image_thumbnail %}
{% block title %}Coup de Gueule{% endblock %}
{% block body_id %}coup-de-gueule{% endblock %}
{% block body_class %}rubrique{% endblock %}
{% block content %}
<!-- LEFT WRAP -->
<div id="mainContent" class="leftWrap">
    
    <h1>Coup de gueule</h1>
    
    {% if article %}
    <div class="articleSection articleMain">
        <h3>{{ article.title }}</h3>
        <p class="author">Par {% if article.author_nickname %}{{ article.author_nickname }}{% else %}{{ article.author.get_full_name }}{% endif %}</p>
        <div class="illustration">
            <img src="{{ article.category.image|thumbnail:"200,0" }}" alt="{{ article.category.image_legend }}" />
			<p class="credits">Photo : {{ article.category.image_credits }}</p>
        </div>
        {{ article.summary|safe }}
		<p class="readMore slick-show"><a href="#">Lire la suite</a></p>
		<!-- SLICKBOX -->
		<div class="slickbox" style="display:block;">
            {{ article.content|safe }}
            <div class="relatedArticles">
                <h4>A lire aussi</h4>
                <ul>
                    <li><h5><a href="#">Pascal n'a plus d'idées <span>(n°284 - 12.08.2008)</span></a></h5></li>
                </ul>
            </div>
            <p class="readMore slick-hide"><a href="#">Masquer</a></p>
        </div>
        <!-- // SLICKBOX -->
    </div>
    {% endif %}
    <!-- ADD -->
    <div class="addSection add468">
        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<!-- // ADD -->
</div>
<!-- // LEFT WRAP -->
				
<!-- RIGHT WRAP -->
<div class="rightWrap">
    <!-- SUB CONTENT -->
    <div id="subContent">
        <!-- LEFT WRAP -->
        <div class="leftWrap">
            <div class="leftWrap">
            <!-- LEFT WRAP -->
                <div id="archivesBar" class="articleList autoClear">
    			    <div>
    			        <h2>ARCHIVES COUP DE GUEULE</h2>
    			        {% if archives %}
    			            {% for article in archives %}
    			            <div class="articleButton">
    			                <h3>{{ article.title }}</h3>
    			             </div>
    			             <div>
    			                {{ article.summary|safe }}
    			             </div>
    			            {% endfor %}
    			         {% endif %}
                    </div>
                </div>
				<div class="addSection">
				    <div class="add-300x90 autoClear">
				        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
				        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
                    </div>
                    <p><a href="#">Publicité</a></p>
                </div>
            </div><!-- // LEFT WRAP -->
        </div>
        <!-- RIGHT WRAP -->
        <div class="rightWrap">
            <div class="addSection">
                <div class="add130">
                    <object data="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf" type="application/x-shockwave-flash" style=" width:120px; height:600px;">
                        <param name="movie" value="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf"/>
                        <param name="quality" value="high"/>
                        <param name="menu" value="false"/>
                    </object>
                </div>
                <p><a href="">Publicité</a></p>
            </div>
        </div>
        <!-- // RIGHT WRAP -->
    <!-- // LEFT WRAP -->
    </div>
    <!-- // SUB CONTENT -->
</div>
<!-- // RIGHT WRAP -->

{% endblock %}
