{% extends "layout/base.html" %}
{% load image_thumbnail %}
{% block title %}Coup de Gueule{% endblock %}
{% block body_id %}coup-de-gueule{% endblock %}
{% block body_class %}rubrique{% endblock %}
{% block content %}
<!-- LEFT WRAP -->
<div id="mainContent" class="leftWrap">
    
    <h1>Coup de gueule</h1>
    
    {% if article %}
        {% include "front/includes/category_article.html" %}
    {% else %}
        {% include "front/includes/category_article_empty.html" %}
    {% endif %}
    
    <!-- ADD -->
    <div class="addSection add468">
        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<!-- // ADD -->
	
</div>
<!-- // LEFT WRAP -->
				
<!-- RIGHT WRAP -->
<div class="rightWrap">
    <!-- SUB CONTENT -->
    <div id="subContent">
        <!-- LEFT WRAP -->
        <div class="leftWrap">
            <div class="leftWrap">
            <!-- LEFT WRAP -->
                <div id="archivesBar" class="articleList autoClear">
    			    <div>
    			        <h2>ARCHIVES COUP DE GUEULE</h2>
    			        {% if archives %}
                            {% include "front/includes/category_archives.html" %}
                        {% else %}
                            {% include "front/includes/category_archives_empty.html" %}
                        {% endif %}
                    </div>
                </div>
				<div class="addSection">
				    <div class="add-300x90 autoClear">
				        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
				        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
                    </div>
                    <p><a href="#">Publicité</a></p>
                </div>
            </div><!-- // LEFT WRAP -->
        </div>
        <!-- RIGHT WRAP -->
        <div class="rightWrap">
            <div class="addSection">
                <div class="add130">
                    <object data="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf" type="application/x-shockwave-flash" style=" width:120px; height:600px;">
                        <param name="movie" value="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf"/>
                        <param name="quality" value="high"/>
                        <param name="menu" value="false"/>
                    </object>
                </div>
                <p><a href="">Publicité</a></p>
            </div>
        </div>
        <!-- // RIGHT WRAP -->
    <!-- // LEFT WRAP -->
    </div>
    <!-- // SUB CONTENT -->
</div>
<!-- // RIGHT WRAP -->

{% endblock %}
