{% extends "layout/base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block body_id %}{{ category.slug }}{% endblock %}
{% block body_class %}rubrique{% endblock %}
{% block content %}
<!-- LEFT WRAP -->
<div id="mainContent" class="leftWrap">

    <h1>{{ category.name }}</h1>
    
    {% if article %}
    <div class="articleSection articleMain">
        <h3>{{ article.title }}</h3>
        <p class="author">Par {% if article.author_nickname %}{{ article.author_nickname }}{% else %}{{ article.author.get_full_name }}{% endif %}</p>
        <div class="illustration">
            {% if article.use_default_illustration %}
                <img src="{{ article.category.image.url }}" alt="{{ article.category.image_legend }}" />
                <p class="credits">Photo : {{ article.category.image_credits }} - {{ article.category.image_legend }}</p>
            {% else %}
                <img src="{{ article.illustration.image.url }}" alt="{{ article.illustration.legend }}" />
                <p class="credits">Photo : {{ article.illustration.credits }} - {{ article.illustration.legend }}</p>
            {% endif %}
        </div>
        <p class="lead">{{ article.summary|safe }}</p>
        <p class="readMore slick-show"><a href="#">Lire la suite</a></p>
		<!-- SLICKBOX -->
		<div class="slickbox" style="display:block;">
            {{ article.content|safe }}
            <div class="relatedArticles">
                <h4>A lire aussi</h4>
                <ul>
                    <li><h5><a href="#">Ces acteurs qui soutiennent des candidats <span>(n°284 - 12.08.2008)</span></a></h5></li>
                    <li><h5><a href="#">Sarkozy veut remonter le moral des policiers et gendarmes <span>(n°284 - 12.08.2008)</span></a></h5></li>
                    <li><h5><a href="#">Pascal n'a plus d'idées <span>(n°284 - 12.08.2008)</span></a></h5></li>
                </ul>
            </div>
            <p class="readMore slick-hide"><a href="#">Masquer</a></p>
		</div>
		<!-- // SLICKBOX -->
	</div>
	{% endif %}
	
	<!-- ADD -->
	<div class="addSection add468">
	    <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
	    <p><a href="#">Publicité</a></p>
	</div>
    <!-- // ADD -->

    <!-- ARTICLE LIST -->
    <div class="articleList autoClear">

        {% if note_2 %}
        <div class="articleSection" >
            <h2><span>{{ note_2.type.name }}</span></h2>
            <div class="lead autoClear">
                <h3>{{ note_2.title }}</h3>
                {{ note_2.content|safe }}
            </div>
            <p class="readMore"><a href="#">Lire la suite</a></p>
        </div>
        {% endif %}
        
        {% if note_3 %}
        <div class="articleSection">
            <h2><span>{{ note_3.type.name }}</span></h2>
            <div class="lead autoClear">
                <h3>{{ note_3.title }}</h3>
                {{ note_3.content|safe }}
            </div>
            <p class="readMore"><a href="#">Lire la suite</a></p>
        </div>
        {% endif %}
        
        {% if note_4 %}
        <div class="articleSection">
            <h2><span>{{ note_4.type.name }}</span></h2>
            <div class="lead autoClear">
                <h3>{{ note_4.title }}</h3>
                {{ note_4.content|safe }}
            </div>
            <p class="readMore"><a href="#">Lire la suite</a></p>
        </div>
        {% endif %}
        
        {% if note_5 %}
        <div class="articleSection">
            <h2><span>{{ note_5.type.name }}</span></h2>
            <div class="lead autoClear">
                <h3>{{ note_5.title }}</h3>
                {{ note_5.content|safe }}
            </div>
            <p class="readMore"><a href="#">Lire la suite</a></p>
        </div>
        {% endif %}
    
    </div>
    <!-- // ARTICLE LIST -->
	
	<!-- ADD -->
	<div class="addSection add468">
	    <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
	    <p><a href="#">Publicité</a></p>
    </div>
    <!-- // ADD -->
    	
</div>
<!-- // LEFT WRAP -->

<!-- RIGHT WRAP -->
<div class="rightWrap">
    <!-- MAIN ARTICLE -->
    {% if note_1 %}
	<div class="articleSection articleMain">
		<h2><span>{{ note_1.type.name }}</span></h2>
		<h3>{{ note_1.title }}</h3>
		<div class="lead autoClear">
            {{ note_1.content|safe }}
		</div>
	</div>
	{% endif %}
	<!-- // MAIN ARTICLE -->

    <!-- SUB CONTENT -->
    <div id="subContent" class="autoClear">
        <!-- LEFT WRAP -->
        <div class="leftWrap">
            <div class="articleList autoClear">
            
            {% if note_6 %}
            <h2>{{ note_6.type.name }}</h2>
            <div>
                <h3>{{ note_6.title }}</h3>
			    {{ note_6.content|safe }}
			</div>
		    {% endif %}
		    
            {% if note_7 %}
            <h2>{{ note_7.type.name }}</h2>
            <div>
                <h3>{{ note_7.title }}</h3>
			    {{ note_7.content|safe }}
			</div>
		    {% endif %}
		    
            {% if note_8 %}
            <h2>{{ note_8.type.name }}</h2>
            <div>
                <h3>{{ note_8.title }}</h3>
			    {{ note_8.content|safe }}
			</div>
		    {% endif %}
		    
            {% if note_9 %}
            <h2>{{ note_9.type.name }}</h2>
            <div>
                <h3>{{ note_9.title }}</h3>
			    {{ note_9.content|safe }}
			</div>
		    {% endif %}
		    
            {% if note_10 %}
            <h2>{{ note_10.type.name }}</h2>
            <div>
                <h3>{{ note_10.title }}</h3>
			    {{ note_10.content|safe }}
			</div>
		    {% endif %}
        </div>
    </div>
    <!-- // LEFT WRAP -->
    
    <!-- RIGHT WRAP -->
    <div class="rightWrap">
        <div class="addSection">
            <div class="add130">
                <object data="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf" type="application/x-shockwave-flash" style=" width:120px; height:600px;">
                    <param name="movie" value="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf"/>
                    <param name="quality" value="high"/>
                    <param name="menu" value="false"/>
                </object>
            </div>
            <p><a href="">Publicité</a></p>
        </div>
    </div>
    <!-- // RIGHT WRAP -->
</div>
<!-- // SUB CONTENT -->

<!-- NEWSLETTER SECTION -->
<div id="newsletterSection">
    <form action="" method="post">
        <p><input name="news" value="Votre e-mail" onfocus="this.value=''" size="50" maxlength="100" id="newsletterEmail" type="text" /></p>
		<p class="submit"><input src="{{ MEDIA_URL }}critica/img/ok.png" alt="Valider" type="image" /></p>
	</form>
</div>
<!-- // NEWSLETTER SECTION -->
</div>
<!-- // RIGHT WRAP -->
{% endblock %}
