{% extends "layout/base.html" %}
{% load ads_extra %}
{% block title %}{{ category.name }}{% endblock %}
{% block ad_1_0 %}
    {% display_ad '728x90' category.slug '1.0' %}
{% endblock %}
{% block body_id %}{{ category.slug }}{% endblock %}
{% block body_class %}rubrique{% endblock %}
{% block content %}
<!-- LEFT WRAP -->
<div id="mainContent" class="leftWrap">
    
    <h1>{{ category.name }}</h1>
    
    {% if article %}
        {% include "front/includes/category_article.html" %}
	{% else %}
	    {% include "front/includes/category_article_empty.html" %}
    {% endif %}
	
	<!-- AD -->
    {% display_ad '468x60' category.slug '2.0' %}
    <!-- // AD -->

    <!-- ARTICLE LIST -->
    <div class="articleList autoClear">

        {% if note_2 %}
            {% with note_2 as note %}
                {% include "front/includes/category_note_pushpin.html" %}
            {% endwith %}
        {% else %}
            {% include "front/includes/category_note_pushpin_empty.html" %}
        {% endif %}
        
        {% if note_3 %}
            {% with note_3 as note %}
                {% include "front/includes/category_note_pushpin.html" %}
            {% endwith %}
        {% else %}
            {% include "front/includes/category_note_pushpin_empty.html" %}
        {% endif %}
        
        {% if note_4 %}
            {% with note_4 as note %}
                {% include "front/includes/category_note_pushpin.html" %}
            {% endwith %}
        {% else %}
            {% include "front/includes/category_note_pushpin_empty.html" %}
        {% endif %}
        
        {% if note_5 %}
            {% with note_5 as note %}
                {% include "front/includes/category_note_pushpin.html" %}
            {% endwith %}
        {% else %}
            {% include "front/includes/category_note_pushpin_empty.html" %}
        {% endif %}
    
    </div>
    <!-- // ARTICLE LIST -->
	
	<!-- AD -->
    {% display_ad '468x60' category.slug '3.0' %}
    <!-- // AD -->
    	
</div>
<!-- // LEFT WRAP -->

<!-- RIGHT WRAP -->
<div class="rightWrap">
    
    <!-- MAIN ARTICLE -->
    {% if note_1 %}
        {% with note_1 as note %}
            {% include "front/includes/category_note_postit.html" %}
        {% endwith %}
	{% else %}
	    {% include "front/includes/category_note_postit_empty.html" %}
    {% endif %}
	<!-- // MAIN ARTICLE -->

    <!-- SUB CONTENT -->
    <div id="subContent" class="autoClear">
    
        <!-- LEFT WRAP -->
        <div class="leftWrap">
            
            <div class="articleList autoClear">
                {% if note_6 %}
                    {% with note_6 as note %}
                        {% include "front/includes/category_note_accordion.html" %}
                    {% endwith %}
    		    {% else %}
    		        {% include "front/includes/category_note_accordion_empty.html" %}
    		    {% endif %}
    		    
                {% if note_7 %}
                    {% with note_7 as note %}
                        {% include "front/includes/category_note_accordion.html" %}
                    {% endwith %}
    		    {% else %}
    		        {% include "front/includes/category_note_accordion_empty.html" %}
    		    {% endif %}
    		    
                {% if note_8 %}
                    {% with note_8 as note %}
                        {% include "front/includes/category_note_accordion.html" %}
                    {% endwith %}
    		    {% else %}
    		        {% include "front/includes/category_note_accordion_empty.html" %}
    		    {% endif %}
    		    
                {% if note_9 %}
                    {% with note_9 as note %}
                        {% include "front/includes/category_note_accordion.html" %}
                    {% endwith %}
    		    {% else %}
    		        {% include "front/includes/category_note_accordion_empty.html" %}
    		    {% endif %}
    		    
                {% if note_10 %}
                    {% with note_6 as note %}
                        {% include "front/includes/category_note_accordion.html" %}
                    {% endwith %}
    		    {% else %}
    		        {% include "front/includes/category_note_accordion_empty.html" %}
    		    {% endif %}
            </div>
            
            <!-- AD -->
            {% ifequal category.slug "national" %}
                {% display_ad '250x250' category.slug '4.0' %}
            {% endifequal %}
            {% ifequal category.slug "etranger" %}
                {% display_ad '250x250' category.slug '4.0' %}
            {% endifequal %}
            {% ifequal category.slug "societe" %}
                {% display_ad '250x250' category.slug '4.0' %}
            {% endifequal %}
            {% ifequal category.slug "insolite" %}
                {% display_ad '250x250' category.slug '4.0' %}
            {% endifequal %}
            {% ifequal category.slug "pipoles" %}
                {% display_ad '250x250' category.slug '4.0' %}
            {% endifequal %}
            {% ifequal category.slug "bouquins" %}
                {% display_ad '250x250' category.slug '4.0' %}
            {% endifequal %}
            <!-- // AD -->
            
        </div>
        <!-- // LEFT WRAP -->
    
        <!-- RIGHT WRAP -->
        <div class="rightWrap">
        
            <!-- AD -->
            {% display_ad '120x600' category.slug '6.0' %}
            <!-- // AD -->
            
        </div>
        <!-- // RIGHT WRAP -->
    
    </div>
    <!-- // SUB CONTENT -->

    <!-- NEWSLETTER SECTION -->
    <div id="newsletterSection">
        {% include "front/includes/newsletter_form.html" %}
    </div>
    <!-- // NEWSLETTER SECTION -->

</div>
<!-- // RIGHT WRAP -->

{% endblock %}
