{% extends "layout/base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block body_id %}{{ category.slug }}{% endblock %}
{% block body_class %}rubrique{% endblock %}
{% block content %}
<!-- LEFT WRAP -->
<div id="mainContent" class="leftWrap">

    <h1>{{ category.name }}</h1>
    
    {% if article %}
        {% include "front/includes/category_article.html" %}
	{% else %}
	    {% include "front/includes/category_article_empty.html" %}
    {% endif %}
	
	<!-- ADD -->
	<div class="addSection add468">
	    <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
	    <p><a href="#">Publicité</a></p>
	</div>
    <!-- // ADD -->

    <!-- ARTICLE LIST -->
    <div class="articleList autoClear">

        {% if note_2 %}
            {% with note_2 as note %}
                {% include "front/includes/category_note_pushpin.html" %}
            {% endwith %}
        {% else %}
            {% include "front/includes/category_note_pushpin_empty.html" %}
        {% endif %}
        
        {% if note_3 %}
            {% with note_3 as note %}
                {% include "front/includes/category_note_pushpin.html" %}
            {% endwith %}
        {% else %}
            {% include "front/includes/category_note_pushpin_empty.html" %}
        {% endif %}
        
        {% if note_4 %}
            {% with note_4 as note %}
                {% include "front/includes/category_note_pushpin.html" %}
            {% endwith %}
        {% else %}
            {% include "front/includes/category_note_pushpin_empty.html" %}
        {% endif %}
        
        {% if note_5 %}
            {% with note_5 as note %}
                {% include "front/includes/category_note_pushpin.html" %}
            {% endwith %}
        {% else %}
            {% include "front/includes/category_note_pushpin_empty.html" %}
        {% endif %}
    
    </div>
    <!-- // ARTICLE LIST -->
	
	<!-- ADD -->
	<div class="addSection add468">
	    <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
	    <p><a href="#">Publicité</a></p>
    </div>
    <!-- // ADD -->
    	
</div>
<!-- // LEFT WRAP -->

<!-- RIGHT WRAP -->
<div class="rightWrap">
    <!-- MAIN ARTICLE -->
    {% if note_1 %}
        {% with note_1 as note %}
            {% include "front/includes/category_note_postit.html" %}
        {% endwith %}
	{% else %}
	    {% include "front/includes/category_note_postit_empty.html" %}
    {% endif %}
	<!-- // MAIN ARTICLE -->

    <!-- SUB CONTENT -->
    <div id="subContent" class="autoClear">
        <!-- LEFT WRAP -->
        <div class="leftWrap">
            <div class="articleList autoClear">
            
            {% if note_6 %}
                {% with note_6 as note %}
                    {% include "front/includes/category_note_accordion.html" %}
                {% endwith %}
		    {% else %}
		        {% include "front/includes/category_note_accordion_empty.html" %}
		    {% endif %}
		    
            {% if note_7 %}
                {% with note_7 as note %}
                    {% include "front/includes/category_note_accordion.html" %}
                {% endwith %}
		    {% else %}
		        {% include "front/includes/category_note_accordion_empty.html" %}
		    {% endif %}
		    
            {% if note_8 %}
                {% with note_8 as note %}
                    {% include "front/includes/category_note_accordion.html" %}
                {% endwith %}
		    {% else %}
		        {% include "front/includes/category_note_accordion_empty.html" %}
		    {% endif %}
		    
            {% if note_9 %}
                {% with note_9 as note %}
                    {% include "front/includes/category_note_accordion.html" %}
                {% endwith %}
		    {% else %}
		        {% include "front/includes/category_note_accordion_empty.html" %}
		    {% endif %}
		    
            {% if note_10 %}
                {% with note_6 as note %}
                    {% include "front/includes/category_note_accordion.html" %}
                {% endwith %}
		    {% else %}
		        {% include "front/includes/category_note_accordion_empty.html" %}
		    {% endif %}
        </div>
    </div>
    <!-- // LEFT WRAP -->
    
    <!-- RIGHT WRAP -->
    <div class="rightWrap">
        <div class="addSection">
            <div class="add130">
                <object data="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf" type="application/x-shockwave-flash" style=" width:120px; height:600px;">
                    <param name="movie" value="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf"/>
                    <param name="quality" value="high"/>
                    <param name="menu" value="false"/>
                </object>
            </div>
            <p><a href="">Publicité</a></p>
        </div>
    </div>
    <!-- // RIGHT WRAP -->
</div>
<!-- // SUB CONTENT -->

<!-- NEWSLETTER SECTION -->
<div id="newsletterSection">
    <form action="" method="post">
        <p><input name="news" value="Votre e-mail" onfocus="this.value=''" size="50" maxlength="100" id="newsletterEmail" type="text" /></p>
		<p class="submit"><input src="{{ MEDIA_URL }}critica/img/ok.png" alt="Valider" type="image" /></p>
	</form>
</div>
<!-- // NEWSLETTER SECTION -->
</div>
<!-- // RIGHT WRAP -->
{% endblock %}
