{% extends "layout/base.html" %}
{% load image_thumbnail %}
{% block title %}Épicurien{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}critica/css/coda.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}critica/js/plugins/coda-slider.1.1.1.js"></script>
<script type="text/javascript">
	jQuery(window).bind("load", function() {
		jQuery("div#slider").codaSlider()
	});
</script>
{% endblock %}
{% block body_id %}epicurien{% endblock %}
{% block body_class %}rubrique{% endblock %}
{% block content %}
<!-- LEFT WRAP -->
<div id="mainContent" class="leftWrap">
    <h1>Épicurien</h1>
    <!-- STRIPNAV -->
    <noscript>
        <div class="stripNav">
            <ul>
                <li><a href="#gourmets">Côté gourmets</a></li>
                <li><a href="#alcools">Côté bar</a></li>
                <li><a href="#fumeur">Côté fumeur</a></li>
            </ul>
        </div>
    </noscript><!-- // STRIPNAV -->
	<!-- SLIDER -->
	<div id="slider" class="csw">
	    <div class="panelContainer"><!-- PANEL GOURMETS -->
	        <div class="panel" title="Côté Gourmets" id="gourmets">
	            <div class="pannel-right">
	                <div class="rightWrap"><!-- RIGHT WRAP -->
	                    <div class="subContent"><!-- SUB CONTENT -->
	                        <div class="leftWrap"><!-- LEFT WRAP -->
	                            <div id="archivesBar" class="articleList autoClear">
	                                <div>
	                                    <h2>ARCHIVES COT&Eacute; GOURMETS</h2>
	                                    {% if archives_cotegourmets %}
	                                        {% with archives_cotegourmets as archives %}
	                                            {% include "front/includes/category_archives.html" %}
	                                        {% endwith %}
	                                   {% else %}
	                                        {% include "front/includes/category_archives_empty.html" %}
	                                   {% endif %}
									</div>
								</div>
                                <div class="addSection">
                                    <div class="add-300x90 autoClear">
                                        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
                                        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
                                    </div>
                                    <p><a href="#">Publicité</a></p>
                                </div>
                            </div><!-- // LEFT WRAP -->
                        </div><!-- // SUB CONTENT -->
                    </div><!-- // RIGHT WRAP -->
                </div><!-- // PANNEL RIGHT -->
                <div class="articleSection articleMain">
                    {% if article_cotegourmets %}
                        {% with article_cotegourmets as article %}
                            {% include "front/includes/epicurien_article.html" %}
                        {% endwith %}
                    {% else %}
                        {% include "front/includes/epicurien_article_empty.html" %}
                    {% endif %}
                </div>
                <div class="addSection add468">
                    <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
                    <p><a href="#">Publicité</a></p>
                </div>
            </div>
            <!-- // PANEL GOURMETS -->
            <!-- PANEL ALCOOLS -->
            <div class="panel" title="Côté Bar" id="alcools">
                <div class="pannel-right">
                    <div class="rightWrap"><!-- RIGHT WRAP -->
                        <div class="subContent"><!-- SUB CONTENT -->
                            <div class="leftWrap"><!-- LEFT WRAP -->
                                <div id="archivesBar" class="articleList autoClear">
                                    <div>
                                        <h2>ARCHIVES COT&Eacute; BAR</h2>
                                        {% if archives_cotebar %}
                                            {% with archives_cotebar as archives %}
                                                {% include "front/includes/category_archives.html" %}
										    {% endwith %}
										{% else %}
										    {% include "front/includes/category_archives_empty.html" %}
										{% endif %}
									</div>
								</div>
								<div class="addSection">
								    <div class="add-300x90 autoClear">
								        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
								        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
								    </div>
								    <p><a href="#">Publicité</a></p>
							    </div>
							</div><!-- // LEFT WRAP -->
						</div><!-- // SUB CONTENT -->
					</div><!-- // RIGHT WRAP -->
				</div>
				<div class="articleSection articleMain">
                    {% if article_cotebar %}
                        {% with article_cotebar as article %}
                            {% include "front/includes/epicurien_article.html" %}
				        {% endwith %}
				    {% else %}
				        {% include "front/includes/epicurien_article_empty.html" %}
                    {% endif %}
                </div>
				<div class="addSection add468">
				    <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
                    <p><a href="#">Publicité</a></p>
                </div>
            </div><!-- // PANEL ALCOOLS -->
            <!-- PANEL FUMEUR -->
            <div class="panel" title="Côté Fumeur" id="fumeur">
                <div class="pannel-right">
                    <!-- RIGHT WRAP -->
                    <div class="rightWrap">
                        <!-- SUB CONTENT -->
                        <div class="subContent">
                            <!-- LEFT WRAP -->
                            <div class="leftWrap">
                                <div id="archivesFumeur" class="articleList autoClear">
                                    <div>
										<h2>ARCHIVES COT&Eacute; FUMEUR</h2>
										{% if archives_cotefumeurs %}
                                            {% with archives_cotefumeurs as archives %}
                                                {% include "front/includes/category_archives.html" %}
                                            {% endwith %}
                                        {% else %}
                                            {% include "front/includes/category_archives_empty.html" %}
    								    {% endif %}
									</div>
								</div>
								<div class="addSection">
								    <div class="add-300x90 autoClear">
								        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
								        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/add-300x90.gif" alt="Publicit&eacute;" /></a>
								    </div>
								    <p><a href="#">Publicité</a></p>
								</div>
							</div>
							<!-- // LEFT WRAP -->
						    </div>
						<!-- // SUB CONTENT -->
					    </div>
					<!-- // RIGHT WRAP -->
				    </div>
				    <div class="articleSection articleMain">
				        {% if article_cotefumeurs %}
				            {% with article_cotefumeurs as article %}
				                {% include "front/includes/epicurien_article.html" %}
				            {% endwith %}
				        {% else %}
				            {% include "front/includes/epicurien_article_empty.html" %}
				        {% endif %}
					</div>
				    <div class="addSection add468">
				        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
				        <p><a href="#">Publicité</a></p>
                    </div>
                </div><!-- // PANEL FUMEUR -->
            </div><!-- // PANEL CONTAINER -->
        </div><!-- // SLIDER -->
    </div><!-- // MAIN CONTENT -->
        <div class="subContent">
            <div class="rightWrap">
                <div class="addSection">
                    <div class="add130">
                        <object data="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf" type="application/x-shockwave-flash" style=" width:120px; height:600px;">
                            <param name="movie" value="{{ MEDIA_URL }}critica/img/add/pub_130x600.swf"/>
                            <param name="quality" value="high"/>
                            <param name="menu" value="false"/>
                        </object>
                    </div>
                    <p><a href="">Publicité</a></p>
                </div>
            </div>
        </div><!-- // SUBCONTENT -->
    </div>
</div>
{% endblock %}
