{% extends "layout/base.html" %}
{% block title %}Régions{% endblock %}
{% block extra_head %}
<script type="text/javascript">
	// <![CDATA[
	jQuery().ready(function(){
		jQuery('#mainContent div.articleAccordion').accordion({
			header: 'div.articleButton',
			autoheight: false,
			alwaysOpen: false,
			active: '.current'
		});
	});
	// ]]>
</script>
{% endblock %}
{% block body_id %}regions{% endblock %}
{% block body_class %}rubrique{% endblock %}
{% block content %}
<!-- LEFT WRAP -->
<div id="mainContent" class="leftWrap">
    <h1>Régions</h1>
    <!-- ARTICLE ACCORDION -->
    <div class="articleAccordion">
        {% if regions_notes_1 %}
            {% for regions_note in regions_notes_1 %}
                {% include "front/includes/regions_note.html" %}
            {% endfor %}
        {% endif %}
        
        <!-- ADD -->
        <div class="addSection add468">
            <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
            <p><a href="#">Publicité</a></p>
        </div>
	    <!-- // ADD -->
	    
	    {% if regions_notes_2 %}
            {% for regions_note in regions_notes_2 %}
                {% include "front/includes/regions_note.html" %}
            {% endfor %}
        {% endif %}
        
        <!-- ADD -->
        <div class="addSection add468">
            <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
            <p><a href="#">Publicité</a></p>
	    </div>
	    <!-- // ADD -->
	    
	    {% if regions_notes_3 %}
            {% for regions_note in regions_notes_3 %}
                {% include "front/includes/regions_note.html" %}
            {% endfor %}
        {% endif %}
        
    </div>
    <!-- // ARTICLE ACCORDION -->
</div>
<!-- // LEFT WRAP -->

<!-- RIGHT WRAP -->
<div class="rightWrap">
    <!-- MAIN ARTICLE -->
    {% if featured_region_note %}
        {% include "front/includes/regions_featured_note.html" %}
    {% else %}
        {% include "front/includes/regions_featured_note_empty.html" %}
    {% endif %}
	<!-- // MAIN ARTICLE -->
	
    <div class="addSection add728">
        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/300x250_tgv.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<div id="newsletterSection">
		<form action="" method="post">
			<p><input name="news" value="Votre e-mail" onfocus="this.value=''" size="50" maxlength="100" id="newsletterEmail" type="text" /></p>
			<p class="submit"><input src="{{ MEDIA_URL }}critica/img/ok.png" alt="Valider" type="image" /></p>
		</form>
	</div>
	
	<!-- SUB CONTENT -->
	<div id="subContent">
	
	    <!-- LEFT WRAP -->
		<div class="leftWrap"> </div>
		<!-- // LEFT WRAP -->
						
		<!-- RIGHT WRAP -->
		<div class="rightWrap"> </div>
		<!-- // RIGHT WRAP -->
					
    </div>
	<!-- // SUB CONTENT -->

</div>
<!-- // RIGHT WRAP -->
{% endblock %}
