{% extends "layout/base.html" %}
{% block title %}Régions{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}critica/js/lib/jquery-easing.1.2.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}critica/js/lib/jquery-easing-compatibility.1.2.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}critica/js/lib/jquery.dimensions.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}critica/js/plugins/jquery.accordion.js"></script>
<script type="text/javascript">
	// <![CDATA[
	jQuery().ready(function(){
		jQuery('#mainContent div.articleAccordion').accordion({
			header: 'div.articleButton',
			autoheight: false,
			alwaysOpen: false,
			active: '.current'
		});
	});
	// ]]>
</script>
{% endblock %}
{% block body_id %}regions{% endblock %}
{% block body_class %}rubrique{% endblock %}
{% block content %}
<!-- LEFT WRAP -->
<div id="mainContent" class="leftWrap">
    <h1>Régions</h1>
    <!-- ARTICLE ACCORDION -->
    <div class="articleAccordion">
        {% for regions_note in regions_notes_1 %}
	    <div class="articleSection" id="{{ regions_note.region.slug }}">
	        <div class="articleButton">
	            <h2>{{ regions_note.region.name }}</h2>
	            <h3>{{ regions_note.title }}</h3>
			</div>
			<div class="articleContent">
                {{ regions_note.content|safe }}
            </div>
        </div>
        {% endfor %}
        <!-- ADD -->
        <div class="addSection add468">
            <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
            <p><a href="#">Publicité</a></p>
        </div>
	    <!-- // ADD -->
        {% for regions_note in regions_notes_2 %}
	    <div class="articleSection" id="{{ regions_note.region.slug }}">
	        <div class="articleButton">
	            <h2>{{ regions_note.region.name }}</h2>
	            <h3>{{ regions_note.title }}</h3>
			</div>
			<div class="articleContent">
                {{ regions_note.content|safe }}
            </div>
        </div>
        {% endfor %}
        <!-- ADD -->
        <div class="addSection add468">
            <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/pub_468x60.gif" alt="Publicit&eacute;" /></a>
            <p><a href="#">Publicité</a></p>
	    </div>
	    <!-- // ADD -->
        {% for regions_note in regions_notes_3 %}
	    <div class="articleSection" id="{{ regions_note.region.slug }}">
	        <div class="articleButton">
	            <h2>{{ regions_note.region.name }}</h2>
	            <h3>{{ regions_note.title }}</h3>
			</div>
			<div class="articleContent">
                {{ regions_note.content|safe }}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- // ARTICLE ACCORDION -->
</div>
<!-- // LEFT WRAP -->

<!-- RIGHT WRAP -->
<div class="rightWrap">
    <!-- MAIN ARTICLE -->
    <div class="articleSection articleMain">
        <h2><span>{{ featured_region_note.region.name }}</span></h2>
		<h3>{{ featured_region_note.title }}</h3>
		<div class="lead autoClear">
            {{ featured_region_note.content|safe }}
        </div>
    </div>
	<!-- // MAIN ARTICLE -->
	
    <div class="addSection add728">
        <a href="#"><img src="{{ MEDIA_URL }}critica/img/add/300x250_tgv.gif" alt="Publicit&eacute;" /></a>
		<p><a href="#">Publicité</a></p>
	</div>
	<div id="newsletterSection">
		<form action="" method="post">
			<p>
				<input name="news" value="Votre e-mail" onfocus="this.value=''" size="50" maxlength="100" id="newsletterEmail" type="text" />
			</p>
			<p class="submit">
				<input src="img/ok.png" alt="Valider" type="image" />
			</p>
		</form>
	</div>
	
	<!-- SUB CONTENT -->
	<div id="subContent">
	
	    <!-- LEFT WRAP -->
		<div class="leftWrap"> </div>
		<!-- // LEFT WRAP -->
						
		<!-- RIGHT WRAP -->
		<div class="rightWrap"> </div>
		<!-- // RIGHT WRAP -->
					
    </div>
	<!-- // SUB CONTENT -->

</div>
<!-- // RIGHT WRAP -->
{% endblock %}
