{% extends "layout/base.html" %}
{% block title %}Tags - Articles taggés &laquo; {{ tag }} &raquo;{% endblock %}
{% block body_id %}tags{% endblock %}
{% block content %}
<div id="mainContent">
    <h1>Articles taggés &laquo; {{ tag }} &raquo;</h1>
    <ul id="tags-items">
    {% for item in items.object_list %}
        <li>
            <a href="{% url issuearchive_category item.issues.all|first,item.category.slug %}" title="{{ item.title }}">{{ item.title }}</a><br />
            <span class="tags-item-meta">Posté le {{ item.publication_date|date:"l d F Y" }} dans l'édition {{ item.issues.all|first }} et classé dans la rubrique {{ item.category.name }}</span>
        </li>
    {% endfor %}
    </ul>
    {% if items.has_next %}
    <div class="pagination">
        <span class="step-links">
            {% if items.has_previous %}
                <a href="?page={{ items.previous_page_number }}">Plus récents</a> &laquo;
            {% endif %}
            <span class="current">
                Page {{ items.number }} / {{ items.paginator.num_pages }}
            </span>
            {% if items.has_next %}
                &raquo; <a href="?page={{ items.next_page_number }}">Plus anciens</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}
