<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>Critic@ - Erreur 404</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="screen, projection" href="/media/critica/css/errors.css" />
    </head>
    <body id="error-404">
        <h1>Erreur 404</h1>
        <p>
            Aï&nbsp;! Désolé, la page que vous recherchez ne correspond à aucun document. 
            Vérifiez l'adresse (<a href="http://fr.wikipedia.org/wiki/URL" title="Wikipedia : définition d'une URL">URL</a>), 
            il se peut qu'elle ne soit plus valide ou erronée. N'hésitez pas à utiliser 
            <a href="http://critica.fr/#search" title="Moteur de recherche de Critic@">le moteur de recherche</a> 
            du site pour vous aider.
        </p>
    </body>
</html>

