<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>Critic@ - Erreur 500</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="screen, projection" href="/media/critica/css/errors.css" />
    </head>
    <body id="error-500">
        <h1>Erreur 500</h1>
        <p>
            Oups&nbsp;! Désolé, ceci est une erreur du serveur (ou erreur technique, si
            vous préférez). Elle a été enregistré pour que nous puissions la corriger
            le plus rapidement possible.
        </p>
    </body>
</html>
