<!-- AddThis Button BEGIN -->
<script type="text/javascript">
addthis_pub  = 'squale';
addthis_logo            = 'http://www.critica.fr/images/addthislogo.png';
addthis_logo_background = 'EFEFFF';
addthis_logo_color      = '666699';
addthis_brand           = 'Critic@';
addthis_options         = 'favorites, email, digg, delicious, myspace, facebook, google, live, more';
</script>
<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="" /></a><script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
<!-- AddThis Button END -->
