<div class="articleSection" id="mapSection">
    <h2>Lieu non-défini</h2>
    <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;hl=fr&amp;geocode=&amp;q=france&amp;ie=UTF8&amp;t=k&amp;s=AARTsJrcQ0voIQsRVGZu3HYLRHB0fshCpA&amp;ll=54.603345,-5.925922&amp;spn=0.014915,0.025749&amp;z=14&amp;iwloc=addr&amp;output=embed"></iframe>
    <p><a href="http://maps.google.fr/maps?f=q&amp;hl=fr&amp;geocode=&amp;q=france&amp;ie=UTF8&amp;t=k&amp;ll=54.603345,-5.925922&amp;spn=0.014915,0.025749&amp;z=14&amp;iwloc=addr&amp;source=embed" >Agrandir le plan</a></p>
</div>
