<div class="articleSection articleMain">
	<h2><span>&Agrave; la une</span></h2>
    <h3>Titre non-défini</h3>
    <p class="author">Auteur non-défini</p>
    <div class="illustration">
        <img src="" width="200" height="300" style="background: #ccc" />
        <p class="credits">Photo : <em>crédits et légende non-définis</em></p>
    </div>
    <p class="lead" style="height: 300px;">Contenu non-encore rédigé...</p>
    <p class="readMore slick-show"><a href="#">Lire la suite</a></p>
	<!-- SLICKBOX -->
	<div class="slickbox" style="display:block;">
        ... non-encore rédigé.
        <div class="relatedArticles">
            <h4>A lire aussi</h4>
            <ul>
                <li><h5><a href="#">Lien article #1</span></a></h5></li>
                <li><h5><a href="#">Lien article #2</span></a></h5></li>
                <li><h5><a href="#">Lien article #3</span></a></h5></li>
            </ul>
        </div>
        <p class="readMore slick-hide"><a href="#">Masquer</a></p>
	</div>
	<!-- // SLICKBOX -->
</div>
