{% load image_thumbnail articles_extra %}

<div class="articleSection articleMain{% if article.is_featured %} articleExclusif{% endif %}">
	{% if article.is_featured %}<p class="exclu"><strong>Exclu Critica !</strong></p>{% endif %}
	<h2><span>&Agrave; la une</span></h2>
	<div class="autoClear" style="margin-bottom:15px;">
    <h3>{{ article.title }}</h3>
    {% include "front/includes/author.html" %}
    {% include "front/includes/article_illustration_medium.html" %}
    <p class="lead">{{ article.summary|safe }}</p>
    </div>
    <p class="readMore slick-show"><a href="#">Lire la suite</a></p>
	<!-- SLICKBOX -->
	<div class="slickbox" style="display:block;">
        {{ article.content|safe }}
        {% display_related_articles article %}
        <p class="readMore slick-hide"><a href="#">Masquer</a></p>
	</div>
	<!-- // SLICKBOX -->
</div>
