<div class="articleSection" id="coupdegueule">
    <h2>Coup de Gueule</h2>
    <p>{{ article.summary|safe }}</p>
    {% if is_preview %}
	    <p class="readMore"><a href="{% url issues_preview_category issue.secret_key,article.category.slug %}">Lire l'article</a></p>
	{% endif %}
	{% if is_archive %}
	    <p class="readMore"><a href="{% url issues_archive_category issue.number,article.category.slug %}">Lire l'article</a></p>
	{% endif %}
	{% if is_current %}
	    <p class="readMore"><a href="{{ article.get_absolute_url }}">Lire l'article</a></p>
    {% endif %}
</div>
