{% load image_thumbnail %}

<div class="articleSection regionSection">

    {% if is_preview %}
        <h2><span><a href="{% url issues_preview_category issue.secret_key,article.category.slug %}">{{ article.category.name }}</a></span></h2>
    {% endif %}
    {% if is_archive %}
        <h2><span><a href="{% url issues_archive_category issue.number,article.category.slug %}">{{ article.category.name }}</a></span></h2>
    {% endif %}
    {% if is_current %}
        <h2><span><a href="{{ article.get_absolute_url }}">{{ article.category.name }}</a></span></h2>
    {% endif %}

    <div class="lead  autoClear">

        {% if is_preview %}
            <div class="{{ article.region.slug}}"><h4>{{ article.region.name}}</h4></div>
            <h3><a href="{% url issues_preview_category issue.secret_key,article.category.slug %}">{{ article.title }}</a></h3>
        {% endif %}
        {% if is_archive %}
            <div class="{{ article.region.slug}}"><h4>{{ article.region.name}}</h4></div>
            <h3><a href="{% url issues_archive_category issue.number,article.category.slug %}">{{ article.title }}</a></h3>
        {% endif %}
        {% if is_current %}
            <div class="{{ article.region.slug}}"><h4>{{ article.region.name}}</h4></div>
            <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
        {% endif %}
        
        {{ article.content|safe|truncatewords:60 }}
    			    
    </div>
    
    {% if is_preview %}
        <p class="readMore"><a href="{% url issues_preview_category issue.secret_key,article.category.slug %}">Lire la suite</a></p>
    {% endif %}
    {% if is_archive %}
        <p class="readMore"><a href="{% url issues_archive_category issue.number,article.category.slug %}">Lire la suite</a></p>
    {% endif %}
    {% if is_current %}
        <p class="readMore"><a href="{{ article.get_absolute_url }}">Lire la suite</a></p>
    {% endif %}

</div>
