<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
    <head>
        <title>Critica - {% block title %}{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}critica/favicon.gif" />
		<!--[if lt IE 8]><link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}critica/favicon.ico" /><![endif]-->
        <!-- METAS -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <meta name="Expires" content="never" />
        <meta name="language" content="fr" />
        <meta name="distribution" content="global" />
        <meta name="robots" content="index,follow" />
        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}critica/css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}critica/css/general.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}critica/css/layout.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}critica/css/kwicks.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}critica/css/grid.css" type="text/css" media="screen" />
	   <link rel="stylesheet" href="{{ MEDIA_URL }}critica/css/print.css" type="text/css" media="print" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}critica/css/fancy.css" media="screen" title="default"/>
        <!-- JAVASCRIPT -->
        <script type="text/javascript">
            // <![CDATA[
                var offspringConfiguration = {
                    runningMode: "light"
                };
            // ]]>
        </script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/utils/offspring.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/lib/jquery-1.2.6.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/plugins/jquery.fancybox-1.0.0.js" ></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/plugins/kwicks.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/lib/jquery-easing.1.2.pack.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/lib/jquery-easing-compatibility.1.2.pack.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/lib/jquery.dimensions.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/plugins/jquery.accordion.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/plugins/accordion_init.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}critica/js/custom.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body id="{% block body_id %}home{% endblock %}" class="{% block body_class %}{% endblock %}">
        <div id="bodyWrap">
            <!-- HEADER -->
            <div id="header">
                <div class="contentWrap autoClear">
                    <!-- LOGO -->
                        <div id="logo">
                            {% if is_preview %}
                                <a href="{% url issues_preview_home issue.secret_key %}" title="Retour à la page d'accueil du site"><img src="{{ MEDIA_URL }}critica/img/logo.gif" align="Critica" /></a>
                            {% endif %}
                            {% if is_ads_preview %}
                                <a href="{% url ads_preview_home campaign.id %}" title="Retour à la page d'accueil du site"><img src="{{ MEDIA_URL }}critica/img/logo.gif" align="Critica" /></a>
                            {% endif %}
                            {% if is_archive %}
                                <a href="{% url issues_archive_home issue.number %}" title="Retour à la page d'accueil du site"><img src="{{ MEDIA_URL }}critica/img/logo.gif" align="Critica" /></a>
                            {% endif %}
                            {% if is_current %}
                                <a href="{% url home %}" title="Retour à la page d'accueil du site"><img src="{{ MEDIA_URL }}critica/img/logo.gif" align="Critica" /></a>
                            {% endif %}
                        </div>
                    <!-- // LOGO -->
                    <!-- TOP NAV -->
                    <ul id="topNav">
                        <li><a href="{% url home %}">Accueil</a></li>
                        <li><a href="{% url issues_archive_index %}">Archives</a></li>
                        <li><a href="{% url newsletter_subscribe_form %}">Recevoir la newsletter</a></li>
                        <li><a href="{% url syndication_index %}">S'abonner au flux RSS</a></li>
                        {% if is_preview %}
                        <li>
                            {% load issues_preview_extra %}
                            {% display_issues_preview_switcher %}
                        </li>
                        {% endif %}
                        {% if is_ads_preview %}
                        <li>
                            {% load ads_preview_extra %}
                            {% display_ads_preview_switcher %}
                        </li>
                        {% endif %}
                    </ul>
                    <!-- TOP NAV -->
                    <!-- ADD -->
                    {% block ad_1_0 %}{% endblock %}
                    <!-- ADD -->
                </div>
            </div>
            <!-- // HEADER -->
			<!-- HEADLINE CONTENT -->
			<div id="headlineContent">
			    <div class="contentWrap">
			        <!-- DATE -->
			        <div id="date">
			            <p>{{ issue.publication_date|date:"d F Y" }}&nbsp;|&nbsp;<strong>N°{{ issue.number }}</strong></p>
                    </div>
                    <!-- // DATE -->
                    <!-- SEARCH -->
                    <div id="search">
                        <form action="{% url search_results %}" method="post">
                            <p>
                                <label for="searchTerm">Rechercher sur Critica.fr</label>
                                <input name="search" type="text"  value="Rechercher sur Critica.fr" onfocus="this.value=''" size="30" maxlength="40" id="searchTerm" />
                            </p>
                            <p class="submit">
                                <input type="image" src="{{ MEDIA_URL }}critica/img/search.png" alt="Valider" />
                            </p>
                        </form>
                    </div>
                    <!-- // SEARCH -->
                    <!-- PAGE OPTIONS -->
                    <div id="pageOptions">
                        <ul>
                            <li class="print"><a href="#" title="Imprimer cette page" onClick="window.print()">Imprimer</a></li>
                        </ul>
                    </div>
                    <!-- // PAGE OPTIONS -->
                </div>
            </div>
            <!-- HEADLINE CONTENT -->
            <!-- MAIN NAV -->
            <div id="mainNav">
                <div class="contentWrap">
                    <ul class="kwicks" style="display:block; margin:0 auto; width:1000px; height:42px; overflow:hidden;">
                        {% if is_preview %}
                            <li id="kwick1"><a href="{% url issues_preview_category issue.secret_key,"national" %}">National</a></li>
                            <li id="kwick2"><a href="{% url issues_preview_category issue.secret_key,"etranger" %}">Etranger</a></li>
                            <li id="kwick3"><a href="{% url issues_preview_category issue.secret_key,"societe" %}">Societe</a></li>
                            <li id="kwick4"><a href="{% url issues_preview_category issue.secret_key,"sports" %}">Sport</a></li>
                            <li id="kwick5"><a href="{% url issues_preview_category issue.secret_key,"pipoles" %}">Pipoles</a></li>
                            <li id="kwick6"><a href="{% url issues_preview_category issue.secret_key,"tele" %}">Tele</a></li>
                            <li id="kwick7"><a href="{% url issues_preview_category issue.secret_key,"bouquins" %}">Bouquins</a></li>
                            <li id="kwick8"><a href="{% url issues_preview_category issue.secret_key,"nanas" %}">Nanas</a></li>
                            <li id="kwick9"><a href="{% url issues_preview_category issue.secret_key,"insolite" %}">Insolite</a></li>
                            <li id="kwick10"><a href="{% url issues_preview_category_regions issue.secret_key %}">Regions</a></li>
                            <li id="kwick11"><a href="{% url issues_preview_category_voyages issue.secret_key %}">Voyages</a></li>
                            <li id="kwick12"><a href="{% url issues_preview_category_epicurien issue.secret_key %}" %}">Epicurien</a></li>
                        {% endif %}
                        {% if is_ads_preview %}
                            <li id="kwick1"><a href="{% url ads_preview_category campaign.id,"national" %}">National</a></li>
                            <li id="kwick2"><a href="{% url ads_preview_category campaign.id,"etranger" %}">Etranger</a></li>
                            <li id="kwick3"><a href="{% url ads_preview_category campaign.id,"societe" %}">Societe</a></li>
                            <li id="kwick4"><a href="{% url ads_preview_category campaign.id,"sports" %}">Sport</a></li>
                            <li id="kwick5"><a href="{% url ads_preview_category campaign.id,"pipoles" %}">Pipoles</a></li>
                            <li id="kwick6"><a href="{% url ads_preview_category campaign.id,"tele" %}">Tele</a></li>
                            <li id="kwick7"><a href="{% url ads_preview_category campaign.id,"bouquins" %}">Bouquins</a></li>
                            <li id="kwick8"><a href="{% url ads_preview_category campaign.id,"nanas" %}">Nanas</a></li>
                            <li id="kwick9"><a href="{% url ads_preview_category campaign.id,"insolite" %}">Insolite</a></li>
                            <li id="kwick10"><a href="{% url ads_preview_category_regions campaign.id %}">Regions</a></li>
                            <li id="kwick11"><a href="{% url ads_preview_category_voyages campaign.id %}">Voyages</a></li>
                            <li id="kwick12"><a href="{% url ads_preview_category_epicurien campaign.id %}" %}">Epicurien</a></li>
                        {% endif %}
                        {% if is_archive %}
                            <li id="kwick1"><a href="{% url issues_archive_category issue.number,"national" %}">National</a></li>
                            <li id="kwick2"><a href="{% url issues_archive_category issue.number,"etranger" %}">Etranger</a></li>
                            <li id="kwick3"><a href="{% url issues_archive_category issue.number,"societe" %}">Societe</a></li>
                            <li id="kwick4"><a href="{% url issues_archive_category issue.number,"sports" %}">Sport</a></li>
                            <li id="kwick5"><a href="{% url issues_archive_category issue.number,"pipoles" %}">Pipoles</a></li>
                            <li id="kwick6"><a href="{% url issues_archive_category issue.number,"tele" %}">Tele</a></li>
                            <li id="kwick7"><a href="{% url issues_archive_category issue.number,"bouquins" %}">Bouquins</a></li>
                            <li id="kwick8"><a href="{% url issues_archive_category issue.number,"nanas" %}">Nanas</a></li>
                            <li id="kwick9"><a href="{% url issues_archive_category issue.number,"insolite" %}">Insolite</a></li>
                            <li id="kwick10"><a href="{% url issues_archive_category_regions issue.number %}">Regions</a></li>
                            <li id="kwick11"><a href="{% url issues_archive_category_voyages issue.number %}">Voyages</a></li>
                            <li id="kwick12"><a href="{% url issues_archive_category_epicurien issue.number %}" %}">Epicurien</a></li>
                        {% endif %}
                        {% if is_current %}
                            <li id="kwick1"><a href="{% url category "national" %}">National</a></li>
                            <li id="kwick2"><a href="{% url category "etranger" %}">Etranger</a></li>
                            <li id="kwick3"><a href="{% url category "societe" %}">Societe</a></li>
                            <li id="kwick4"><a href="{% url category "sports" %}">Sport</a></li>
                            <li id="kwick5"><a href="{% url category "pipoles" %}">Pipoles</a></li>
                            <li id="kwick6"><a href="{% url category "tele" %}">Tele</a></li>
                            <li id="kwick7"><a href="{% url category "bouquins" %}">Bouquins</a></li>
                            <li id="kwick8"><a href="{% url category "nanas" %}">Nanas</a></li>
                            <li id="kwick9"><a href="{% url category "insolite" %}">Insolite</a></li>
                            <li id="kwick10"><a href="{% url category_regions %}">Regions</a></li>
                            <li id="kwick11"><a href="{% url category_voyages %}">Voyages</a></li>
                            <li id="kwick12"><a href="{% url category_epicurien %}" %}">Epicurien</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- // MAIN NAV -->
            <!-- CONTENT -->
            <div id="content">
		  <div class="contentWrap autoClear">
            {% block content %}{% endblock %}
		  </div>
			</div>
			<!-- // CONTENT -->

            <!-- FOOTER -->
            <div id="footer">
                <p> &copy; <a href="{% url pages_page "mentions-legales" %}" title="Mentions légales">Mentions Légales</a></p>
            </div>

		 {% load partnerlinks_extra %}
		 {% display_partnerlinks %}

            <!-- // FOOTER -->
        </div>
    </body>
</html>

